{% if display_age %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            <div class="property">
                {% if element.minAge is not null and element.maxAge is not null %}
                    {{ 'age'|trans }}
                    <p>
                        {{ 'age.year_range'|trans({ '%min%': element.minAge, '%max%': element.maxAge }) }}
                    </p>
                {% elseif element.maxAge is null %}
                    {{ 'age.from'|trans }}
                    <p>
                        {{ element.minAge }} {{ 'age.years'|trans }}
                    </p>
                {% elseif element.minAge is null %}
                    {{ 'age.to'|trans }}
                    <p>
                        {{ element.maxAge }} {{ 'age.years'|trans }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
