<div class="element-list">
    <div class="element-list-pagination">
        <div class="grid-x">
            <div class="cell medium-6">
                {% if result_pagerfanta.nbPages > 1 %}
                    {{ pagerfanta(result_pagerfanta) }}
                {% endif %}
            </div>
            <div class="cell medium-6">
                <div class="element-list__count">
                    {{ result_pagerfanta.nbResults|format_number }}
                    <em class="mdi mdi-text-box-search-outline"></em>
                </div>
                {% if sort is not null %}
                    <div class="element-list-sort">
                        {% set current_route = app.request.get('_route') %}
                        {% set current_route_parameters = app.request.get('_route_params')|merge(app.request.query) %}
                        {% set chosen_orders = sort|keys %}
                        {% set order_by_title = constant('App\\Element\\Sorter::ORDER_BY_TITLE') %}
                        {% set order_by_date = constant('App\\Element\\Sorter::ORDER_BY_DATE') %}
                        {% set order_by_id = constant('App\\Element\\Sorter::ORDER_BY_ID') %}
                        {% set order_asc = constant('App\\Element\\Sorter::ORDER_ASC') %}
                        {% set order_desc = constant('App\\Element\\Sorter::ORDER_DESC') %}

                        {% set is_chosen = order_by_title in chosen_orders %}
                        {% set actual_sort_direction = is_chosen ? sort[order_by_title] : order_asc %}
                        {% set url_sort_direction = is_chosen ? sort[order_by_title] == order_asc ? order_desc : order_asc : order_asc %}
                        {% set url = path(current_route, current_route_parameters|merge({ sort: { (order_by_title): url_sort_direction } })) %}
                        <a href="{{ url }}" class="element-list-sort__item{% if is_chosen %} active{% endif %}" title="{{ ('sort.title.'~(url_sort_direction == order_desc ? 'desc' : 'asc'))|trans }}">
                            <em class="mdi mdi-alpha-{% if actual_sort_direction == order_desc %}z{% else %}a{% endif %}-box"></em>
                            <em class="mdi mdi-sort-{% if actual_sort_direction == order_desc %}asc{% else %}desc{% endif %}ending"></em>
                        </a>

                        {% set is_chosen = order_by_date in chosen_orders %}
                        {% set actual_sort_direction = is_chosen ? sort[order_by_date] : order_asc %}
                        {% set url_sort_direction = is_chosen ? sort[order_by_date] == order_asc ? order_desc : order_asc : order_asc %}
                        {% set url = path(current_route, current_route_parameters|merge({ sort: { (order_by_date): url_sort_direction } })) %}
                        <a href="{{ url }}" class="element-list-sort__item{% if is_chosen %} active{% endif %}" title="{{ ('sort.date.'~(url_sort_direction == order_desc ? 'desc' : 'asc'))|trans }}">
                            <em class="mdi mdi-calendar"></em>
                            <em class="mdi mdi-sort-{% if actual_sort_direction == order_desc %}asc{% else %}desc{% endif %}ending"></em>
                        </a>

                        {% set is_chosen = order_by_id in chosen_orders %}
                        {% set actual_sort_direction = is_chosen ? sort[order_by_id] : order_asc %}
                        {% set url_sort_direction = is_chosen ? sort[order_by_id] == order_asc ? order_desc : order_asc : order_asc %}
                        {% set url = path(current_route, current_route_parameters|merge({ sort: { (order_by_id): url_sort_direction } })) %}
                        <a href="{{ url }}" class="element-list-sort__item{% if is_chosen %} active{% endif %}" title="{{ ('sort.id.'~(url_sort_direction == order_desc ? 'desc' : 'asc'))|trans }}">
                            <em class="mdi mdi-note-plus"></em>
                            <em class="mdi mdi-sort-{% if actual_sort_direction == order_desc %}asc{% else %}desc{% endif %}ending"></em>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="grid-x">
        {% for result in results %}
            <div class="cell medium-6 xlarge-4">
                {{ include('_sections/element/list_item.html.twig', { element: result is iterable ? result[0] : result }) }}
            </div>
        {% endfor %}
    </div>

    <div class="element-list-pagination">
        <div class="grid-x">
            <div class="cell medium-12">
                {% if result_pagerfanta.nbPages > 1 %}
                    {{ pagerfanta(result_pagerfanta) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
