{% set first_element_count = constant('App\\Doctrine\\Decorator\\Element\\ElementDecorator::FIRST_ELEMENT_COUNT') - 1 %}
{% set aggregated = aggregate_by_set and element.elementSet is not null and element.elementSet.setAggregated %}
{% set illustration_url = (aggregated ? element.elementSet : element)|thumbnail_src %}
{% set year = element.year %}
{% set origins = aggregated ? element.elementSet.origins : element.origins %}
{% set universes = aggregated ? element.elementSet.universes : element.universes %}
{% set genres = aggregated ? element.elementSet.genres : element.genres %}
{% set element_companies = element.highlightedCompanies %}
{% set element_people = element.highlightedPeople %}

<div class="element-list-element type-{{ element.type.id }}-border">
    {{ include('_sections/element/menu.html.twig') }}

    <a href="{{ entity_path(aggregated ? element.elementSet : element) }}"
       class="element-list-element__illustration" style="background-image: url('{{ illustration_url }}');">
    </a>

    <div class="element-list-element-content">
        <div class="element-list-element__icon">
            {{ element.type|icon_link }}
        </div>

        <h2 class="element-list-element__title">
            {%- if aggregated -%}
                <a href="{{ entity_path(element.elementSet) }}">
                    <em class="mdi mdi-folder-table"></em> {{ appellation(element.elementSet) }}
                </a>
            {%- else -%}
                {% set subname = element.getFirstSubname() -%}

                <a href="{{ entity_path(element) }}">
                    {% if element.set %}
                        <em class="mdi mdi-folder-table"></em>
                    {% endif %}
                    {{ element }}

                    {%- if subname is not null -%}
                        <small> - {{ subname }}</small>
                    {%- endif -%}
                </a>
            {%- endif -%}
        </h2>

        <div class="element-list-element__description">
            {% set element_set = element.set ? element : element.elementSet %}
            {% set element_description = element.set ? (element.elementSet is not null ? element.elementSet.description : '') : element.description %}

            {% if element.description is not null %}
                <p>{{ element.description }}</p>
            {% endif %}

            {% if aggregated or element.set %}
                {% set first_elements = element_set.setFirstElements %}
                <ul>
                    {% for element in first_elements|slice(0, first_element_count) %}
                        <li>
                            {{ appellation_html(element) }}
                        </li>
                    {% endfor %}
                    {% if first_elements|length > first_element_count %}
                        <li>
                            <a href="{{ entity_path(element_set) }}">...</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

        <div class="element-list-element-caracteristics">
            <div class="grid-x grid-padding-x align-middle">
                {% if aggregated or element.set %}
                    <div class="cell small-6 xlarge-4">
                        <div class="element-list-element__year">
                            <a href="{{ entity_path(element_set) }}">{{ element_set.countSetElements }} <em class="mdi mdi-file-document-box-multiple-outline"></em></a>
                        </div>
                    </div>
                {% endif %}

                {% if last_uses is defined %}
                    <div class="cell small-6 xlarge-4">
                        <div class="property">
                            {{ 'use'|trans }}
                            <p>
                                {{ (element.useDate)|date('d/m/Y') }}
                            </p>
                        </div>
                    </div>
                {% endif %}

                {% if element.isVideo %}
                    <div class="cell small-6 xlarge-4">
                        <div class="element-list-element-genres">
                            <a href="{{ path('element_element_type_video_videotype', { videoType: element.realVideoType }) }}">
                                {{ element.realVideoTypeLabel|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                {% if origins|length > 0 %}
                    <div class="cell small-6 xlarge-4">
                        <div class="element-list-element-origins">
                            <ul>
                                {% for location in origins %}
                                    <li>
                                        <a href="{{ path('element_element_listbytypeandorigin', {type: element.type.slug, location: location.slug}) }}">
                                            {{ location|icon_by_element(element) }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if year is not null %}
                    <div class="cell small-6 xlarge-4">
                        <div class="element-list-element__year">
                            <a href="{{ path('element_element_listbytypeandyear', {type: element.type.slug, year: year}) }}">
                                {{ year }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                {% if universes|length > 0 %}
                    <div class="cell small-6 xlarge-4">
                        <div class="element-list-element-universes">
                            <ul>
                                {% for universe in universes %}
                                    <li>
                                        {{- universe|icon_link -}}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if element.hasPlatform %}
                    <div class="cell small-6 xlarge-4">
                        <div class="element-list-element-platforms">
                            <ul>
                                {% for platform in element.platforms %}
                                    <li>
                                        <a href="{{ path('element_element_listbytypeandplatform', {type: element.type.slug, platform: platform.slug}) }}">
                                            {{ platform|icon }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if genres|length > 0 %}
                    <div class="cell small-6 xlarge-4">
                        <div class="element-list-element-genres">
                            <ul>
                                {% for genre in genres %}
                                    <li>
                                        {{ appellation_html(genre) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}


                {% if element_companies|length > 0 %}
                    <div class="cell small-6 xlarge-4">
                        <div class="element-list-element-genres">
                            <em class="mdi mdi-domain"></em>
                            <ul>
                                {% for element_company in element_companies %}
                                    <li>{{ appellation_html(element_company.company) }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if element_people|length > 0 %}
                    <div class="cell small-6 xlarge-4">
                        <div class="element-list-element-genres">
                            <em class="mdi mdi-account-multiple"></em>
                            <ul>
                                {% for element_person in element_people %}
                                    <li>{{ appellation_html(element_person.person) }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

</div>
