{% set has_cheating = element.isVideoGame and element.cheating is not null %}
{% set has_illustrations = element.illustrations is not empty %}
{% set has_support = user_element is not null %}

<nav class="element-menu-list">
    <ul>
        <li><a href="{{ entity_path(element) }}"><em class="mdi mdi-open-in-app"></em> {{ 'to_open'|trans }}</a></li>
        {% if has_cheating %}
            <li>
                <a data-open="element-cheating-{{ element.id }}">
                    <em class="mdi mdi-gamepad-round"></em> {{ 'cheating'|trans }}
                </a>
            </li>
        {% endif %}
        {% if has_illustrations %}
            <li>
                <a data-open="element-illustrations-{{ element.id }}">
                    <em class="mdi mdi-image"></em> {{ 'illustrations'|trans }}
                </a>
            </li>
        {% endif %}
        {% if has_support %}
            <li>
                <a data-open="element-supports-{{ element.id }}">
                    <em class="mdi mdi-zip-disk"></em> {{ 'supports'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

{% if has_cheating %}
    <div class="reveal large" id="element-cheating-{{ element.id }}" data-reveal>
        <h1>
            {{ element }}
            <small>{{ 'cheating'|trans }}</small>
        </h1>

        {{ element.cheating|format_html }}

        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% if has_illustrations %}
    <div class="reveal large" id="element-illustrations-{{ element.id }}" data-reveal>
        <h1>
            {{ element }}
            <small>{{ 'illustrations'|trans }}</small>
        </h1>

        {{ include('element/element/_sections/show/illustrations.html.twig') }}

        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% if has_support %}
    <div class="reveal large" id="element-supports-{{ element.id }}" data-reveal>
        <h1>
            {{ element }}
            <small>{{ 'supports'|trans }}</small>
        </h1>

        {{ include('user/user_element/_show.html.twig') }}

        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
