<div class="element-menu">
    <a href="{{ path('element_element_showmenu', { element: element.id }) }}" class="element-menu__icon"
        data-target="#element-menu-{{ element.id }}" data-ajax-new-page="false">
        <em class="mdi mdi-menu"></em>
    </a>
    <div id="element-menu-{{ element.id }}"></div>
</div>
