{% extends 'base.html.twig' %}

{% block title %}
    {{ appellation(special_set) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(special_set) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            {{ special_set|image({ width: '100%' }) }}
        </div>
    </div>

    <div class="element-list">
        <div class="grid-x">
            {% for element in elements %}
                <div class="cell medium-6 xlarge-4">
                    {{ include('_sections/element/list_item.html.twig') }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
