{% extends 'base.html.twig' %}

{% block title %}
    {{ video_type_label|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(type) }}
{% endblock %}

{% block content %}
    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
