{% if element.isAudio and element.duration is not null %}
    <div class="property">
        {{ 'duration'|trans }}
        <p>
            {{ element.duration|date('H:i:s') }}
        </p>
    </div>
{% elseif element.isVideo and (element.duration is not null or element.color is not null) %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {% if element.duration is not null %}
                <div class="property">
                    {{ 'duration'|trans }}
                    <p>
                        {{ element.duration|date('H:i:s') }}
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="cell medium-6">
            {% if element.color is not null %}
                <div class="property">
                    {{ 'color'|trans }}
                    <p>
                        {{ ('color.'~element.color)|trans }}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{%- elseif ((element.isBook or element.isPeriodical) and element.pageCount is not null) or (element.isBook and element.isbn is not null) -%}
    <div class="grid-x grid-padding-x">
        {%- if element.pageCount is not null -%}
            <div class="cell medium-6">
                <div class="property">
                    {{- 'page_count'|trans -}}
                    <p>{{ element.pageCount|format_number }}</p>
                </div>
            </div>
        {%- endif -%}
        {%- if element.isBook and element.isbn is not null -%}
            <div class="cell medium-6">
                <div class="property">
                    ISBN
                    <p>{{ element.formattedIsbn }}</p>
                </div>
            </div>
        {%- endif -%}
    </div>
{%- elseif element.isVideoGame and (element.multiplayer|length > 0 or element.maxPlayerCount is not null) -%}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {% if element.multiplayer|length > 0 %}
                <div class="property">
                    {{ 'multiplayer'|trans }}
                    <ul>
                        {% for player in element.multiplayerNames %}
                            <li>{{ player|trans }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="cell medium-6">
            {% if element.maxPlayerCount is not null %}
                <div class="property">
                    {{ 'max_player_count'|trans }}
                    <p>
                        {{ element.maxPlayerCount }}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

{{ include('element/element/_sections/show/_include/age.html.twig') }}

{% set element_dates = element.orderedElementDates %}
{% if element_dates|length > 0 %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-12">
            <div class="property">
                {{ ('release_date'~(element_dates|length > 1 ? 's' : ''))|trans }}
                <div class="grid-x grid-padding-x">
                    {% for element_date in element_dates %}
                        <div class="cell medium-6">
                            <div class="property-value-with-icon">
                                {% if element_date.location is not null %}
                                    <div>
                                        {{ element_date.location|icon_by_element(element) }}
                                    </div>
                                {% endif %}
                                <div>
                                    {% if element_date.date is not null %}
                                        {{ element_date.date|date('d/m/Y') }}
                                    {% else %}
                                        {{ element_date.year }}
                                    {% endif %}
                                    {% if element_date.precisions is not empty %}
                                        <div class="precisions">{{ element_date.precisions }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if element.companies|length > 0 %}
    <div class="grid-x grid-padding-x">
        {% for role_and_companies in element.companiesByRole %}
            {% set company_role = role_and_companies['role'] %}
            {% set element_companies = role_and_companies['element_companies'] %}

            <div class="cell medium-6">
                <div class="property">
                    <em class="mdi mdi-office-building"></em> {{ company_role }}
                    <ul>
                        {% for element_company in element_companies %}
                            <li>
                                {{ appellation_html(element_company.company) }}
                                {% if element_company.precisions is not empty %}
                                    <div class="precisions">{{ element_company.precisions }}</div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if element.people|length > 0 %}
    <div class="grid-x grid-padding-x">
        {% for role_and_people in element.peopleByRole %}
            {% set person_role = role_and_people['role'] %}
            {% set element_people = role_and_people['element_people'] %}

            <div class="cell medium-6">
                <div class="property">
                    <em class="mdi mdi-account{% if element_people|length > 1 %}-multiple{% endif %}"></em> {{ person_role }}
                    <ul>
                        {% for element_person in element_people %}
                            <li>
                                {{ appellation_html(element_person.person) }}
                                {% if element_person.details is not null %}
                                    ({{ element_person.details }})
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if element.prices|length > 0 %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-12">
            <div class="property">
                {{ ('price'~(element.prices|length > 1 ? 's' : ''))|trans }}
                <div class="grid-x grid-padding-x">
                    {% for element_price in element.prices %}
                        <div class="cell medium-6">
                            <p>
                                {{ element_price.location|icon }}
                                {{ element_price.price|format_currency(element_price.currency.code) }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
