{% import _self as self %}

{% macro sub_elements(sub_elements, ordered) %}
    {% if sub_elements|length > 0 %}
        <{{ ordered ? 'o' : 'u' }}l>
            {% for sub_element in sub_elements %}
                {% import _self as self %}
                <li>
                    {{ sub_element }}
                    {{ self.sub_elements(sub_element.children, sub_element.orderedChildren) }}
                </li>
            {% endfor %}
        </{{ ordered ? 'o' : 'u' }}l>
    {% endif %}
{% endmacro %}

{% if element.subElements|length > 0 %}
    <div class="property">
        {{ self.sub_elements(element.firstSubElements, element.orderedSubElements) }}
    </div>
{% endif %}

{% if element.content is not null and not element.isCookingRecipe %}
    {% if element.subElements|length > 0 %}
        <hr>
    {% endif %}

    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            {{ element.content|raw_secure }}
        </div>
    </div>
{% endif %}
