{% if element.isVideo %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            <div class="property">
                {{ 'video.type'|trans }}
                <p>
                    <a href="{{ path('element_element_type_video_videotype', { videoType: element.videoType }) }}">
                        {{ constant('App\\Enum\\VideoTypeEnum::VALUES')[element.videoType]|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endif %}

{% if element.elementSet is not null %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            <div class="property">
                {{ 'set'|trans }}
                <p>
                    {{ appellation_html(element.elementSet) }}
                </p>
            </div>
        </div>
        <div class="cell medium-3">
            {% if element.numberInSet is not null %}
                <div class="property">
                    {{ 'number'|trans }}
                    <p>
                        {{ element.numberInSet }}
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="cell medium-3">
            <div class="property">
                {{ 'special_issue'|trans }}
                <p>
                    {{ (element.setSpecialIssue ? 'yes' : 'no')|trans }}
                </p>
            </div>
        </div>
    </div>
{% endif %}

<div class="grid-x grid-padding-x">
    <div class="cell medium-6">
        {% if genres|length > 0 %}
            <div class="property">
                {{ ('genre'~(genres|length > 1 ? 's' : ''))|trans }}
                <ul>
                    {% for genre in genres %}
                        <li>{{ appellation_html(genre) }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="cell medium-6">
        {% if universes|length > 0 %}
            <div class="property">
                {{ ('universe'~(universes|length > 1 ? 's' : ''))|trans }}
                {% for universe in universes %}
                    <p>
                        <a href="{{ entity_path(universe) }}">
                            {{ universe|icon }} {{ appellation(universe) }}
                        </a>
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% if element.keywords|length > 0 %}
    <div class="property">
        {{ 'keywords'|trans }}
        <ul class="inline">
            {% for keyword in element.keywords %}
                <li>
                    <em class="mdi mdi-tag"></em>&nbsp;{{ appellation_html(keyword) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if element.hasPlatform %}
    <div class="property">
        {{ ('platform'~(element.platforms|length > 1 ? 's' : ''))|trans }}
        <div class="grid-x grid-padding-x">
            {% for platform in element.platforms %}
                <div class="cell medium-6">
                    <p>
                        <a href="{{ path('element_element_listbytypeandplatform', { type: element.type.slug, platform: platform.slug }) }}">
                            {{ platform|icon }} {{ appellation(platform) }}
                        </a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if element.parents|length > 0 %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="property">
                {{ ('parent'~(element.parents|length > 1 ? 's' : ''))|trans }}
                <div class="element-thumbnails">
                    <div class="grid-x grid-padding-x">
                        {% for parent in element.parents %}
                            <div class="cell medium-3 large-2">
                                <div class="element-thumbnails-element">
                                    <a href="{{ entity_path(parent) }}">
                                        <div class="element-thumbnails-element__image border type-{{ parent.type.id }}-border" style="background-image: url('{{ parent|thumbnail_src }}');"></div>
                                        <div class="element-thumbnails-element__legend">
                                            {{ appellation(parent) }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% set children = element.orderedChildren %}
{% if children|length > 0 %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="property">
                {{ ('child'~(children|length > 1 ? 'ren' : ''))|trans }}
                <div class="element-thumbnails">
                    <div class="grid-x grid-padding-x">
                        {% for child in children %}
                            <div class="cell medium-3 large-2">
                                <div class="element-thumbnails-element">
                                    <a href="{{ entity_path(child) }}">
                                        <div class="element-thumbnails-element__image border type-{{ child.type.id }}-border" style="background-image: url('{{ child|thumbnail_src }}');"></div>
                                        <div class="element-thumbnails-element__legend">
                                            {{ appellation(child) }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if element.references|length > 0 %}
    <div class="property">
        {{ ('reference'~(element.references|length > 1 ? 's' : ''))|trans }}
        <div class="element-thumbnails">
            <div class="grid-x grid-padding-x">
                {% for reference in element.references %}
                    <div class="cell medium-3 large-2">
                        <div class="element-thumbnails-element">
                            <a href="{{ entity_path(reference) }}">
                                <div class="element-thumbnails-element__image border type-{{ reference.type.id }}-border" style="background-image: url('{{ reference|thumbnail_src }}');"></div>
                                <div class="element-thumbnails-element__legend">
                                    {{ appellation(reference) }}
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if element.previousElement is not null or element.nextElements is not empty %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {% if element.previousElement is not null %}
                <div class="property">
                    {{ 'element.previous'|trans }}
                    <div class="element-thumbnails">
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-6 large-4">
                                <div class="element-thumbnails-element">
                                    <a href="{{ entity_path(element.previousElement) }}">
                                        <div class="element-thumbnails-element__image border type-{{ element.previousElement.type.id }}-border" style="background-image: url('{{ element.previousElement|thumbnail_src }}');"></div>
                                        <div class="element-thumbnails-element__legend">
                                            {{ appellation(element.previousElement) }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="cell medium-6">
            {% if element.nextElements is not empty %}
                <div class="property">
                    {{ ('element'~(element.nextElements|length > 1 ? 's' : '')~'.next')|trans }}
                    <div class="element-thumbnails">
                        <div class="grid-x grid-padding-x">
                            {% for next in element.nextElements %}
                                <div class="cell medium-6 large-4">
                                    <div class="element-thumbnails-element">
                                        <a href="{{ entity_path(next) }}">
                                            <div class="element-thumbnails-element__image border type-{{ next.type.id }}-border" style="background-image: url('{{ next|thumbnail_src }}');"></div>
                                            <div class="element-thumbnails-element__legend">
                                                {{ appellation(next) }}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if similars is not empty %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="property">
                {{ ('element'~(similars > 1 ? 's' : '')~'.similar')|trans }}
                <div class="element-thumbnails">
                    <div class="grid-x grid-padding-x">
                        {% for similar in similars %}
                            <div class="cell medium-3 large-2">
                                <div class="element-thumbnails-element">
                                    <a href="{{ entity_path(similar) }}">
                                        <div class="element-thumbnails-element__image border type-{{ similar.type.id }}-border" style="background-image: url('{{ similar|thumbnail_src }}');"></div>
                                        <div class="element-thumbnails-element__legend">
                                            {{ appellation(similar) }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
