<div class="grid-x grid-padding-x">
    <div class="cell medium-6">
        <div class="property">
            {{ 'element_type'|trans }}
            <p>
                <a href="{{ entity_path(type) }}">
                    {{ element.type|icon }}
                    {{ type.elementName }}
                </a>
            </p>
        </div>
    </div>
    <div class="cell medium-6">
        <div class="property">
            {{ 'id'|trans }}
            <p>
                #{{ element.id }}
            </p>
        </div>
    </div>
</div>

{% if element.names|length > 0 %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="property">
                {{ ('name'~(element.names|length > 1 ? 's' : ''))|trans }}
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        {% for element_name in element.names %}
            <div class="cell medium-6">
                <div class="property property-value-with-icon">
{#                <div class="property property-value-with-icon">#}
                    {% if element_name.language is not null %}
                        <div>
                            {{ element_name.language|icon }}
                        </div>
                    {% endif %}
                    <div>
                        {{ element_name }}

                        {%- if element_name.subname is not null -%}
                            <small> - {{ element_name.subname }}</small>
                        {%- endif -%}

                        {% if element_name.precisions is not empty %}
                            <div class="precisions">{{ element_name.precisions }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if element.description is not null %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="property">
                {{ 'description'|trans }}
                <p>
                    {{ element.description }}
                </p>
            </div>
        </div>
    </div>
{% endif %}

{% if origins|length > 0 %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-12">
            <div class="property">
                {{ ('origin'~(origins|length > 1 ? 's' : ''))|trans }}
                <div class="grid-x grid-padding-x">
                    {% for location in origins %}
                        <div class="cell medium-6">
                            <p>
                                <a href="{{ path('element_element_listbytypeandorigin', {type: element.type.slug, location: location.slug}) }}">
                                    {{ location|icon_by_element(element) }} {{ location.versionNameByElement(element) }}
                                </a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
