<div class="element-thumbnails">
    <div class="grid-x grid-padding-x">
        {% for element_illustration in element.illustrations %}
            {% set image_src = element_illustration|thumbnail_src %}
            <div class="cell medium-6 large-4">
                <div class="element-thumbnails-element">
                    <a href="{{ image_src }}" class="element-thumbnails-element__image lightbox" data-ajax="false"
                        style="background-image: url('{{ image_src }}');"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
