<div class="grid-x grid-padding-x">
    {% if element.preparationTime is not null %}
        <div class="cell medium-6">
            <div class="property">
                {{ 'preparation_time'|trans }}
                <p>
                    {{ element.preparationTime|date('H:i') }}
                </p>
            </div>
        </div>
    {% endif %}
    {% if element.personCount is not null %}
        <div class="cell medium-6">
            <div class="property">
                {{ 'person_count'|trans }}
                <p>
                    {{ element.personCount }}
                </p>
            </div>
        </div>
    {% endif %}
</div>

{% if element.ingredients %}
    <div class="property">
        {{ 'ingredients'|trans }}
        <ul>
            <li>
                {{ element.ingredients|split("\n")|join('</li><li>')|raw_secure }}
            </li>
        </ul>

    </div>
{% endif %}

{% if element.content is not null %}
    {% if element.ingredients is not null %}
        <hr>
    {% endif %}

    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            {{ element.content|raw_secure }}
        </div>
    </div>
{% endif %}
