{% set year = element.year %}
{% set element_companies = element.highlightedCompanies %}
{% set element_people = element.highlightedPeople %}

<div class="element-synthesis">
    {% if element.description is not null %}
        <div class="grid-x grid-padding-x">
            <div class="cell small-12">
                <div class="element-synthesis__description">
                    <p>
                        {{ element.description }}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="grid-x grid-padding-x align-middle">
        <div class="cell small-6 large-4">
            {{ element.type|icon_link }}
        </div>

        {% set last_use = element|last_use %}
        {% if last_use %}
            <div class="cell small-6 large-4">
                <div class="property">
                    {{ 'last_use'|trans }}
                    <p>
                        {{ last_use.date|date('d/m/Y') }}
                    </p>
                </div>
            </div>
        {% endif %}

        {% if element.isVideo %}
            <div class="cell small-6 large-4">
                <a href="{{ path('element_element_type_video_videotype', { videoType: element.realVideoType }) }}">
                    {{ element.realVideoTypeLabel|trans }}
                </a>
            </div>
        {% endif %}

        {% if origins|length > 0 %}
            <div class="cell small-6 large-4">
                {% for location in origins %}
                    <a href="{{ path('element_element_listbytypeandorigin', {type: element.type.slug, location: location.slug}) }}">
                        {{ location|icon_by_element(element) }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if year is not null %}
            <div class="cell small-6 large-4">
                <div class="element-synthesis__year">
                    <a href="{{ path('element_element_listbytypeandyear', {type: element.type.slug, year: year}) }}">
                        {{ year }}
                    </a>
                </div>
            </div>
        {% endif %}

        {% if element.elementSet is not null %}
            <div class="cell small-6 large-4">
                <div class="element-synthesis__set">
                    {{ appellation_html(element.elementSet) }}
                </div>
            </div>
        {% endif %}

        {% if element.hasPlatform %}
            <div class="cell small-6 large-4">
                {% for platform in element.platforms %}
                    <a href="{{ path('element_element_listbytypeandplatform', {type: element.type.slug, platform: platform.slug}) }}">
                        {{ platform|icon }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if universes|length > 0 %}
            <div class="cell small-6 large-4">
                {% for universe in universes %}
                    {{ universe|icon_link }}
                {% endfor %}
            </div>
        {% endif %}

        {% if genres|length > 0 %}
            <div class="cell small-6 large-4">
                {% for genre in genres %}
                    <div>{{ appellation_html(genre) }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% if element_companies|length > 0 %}
            <div class="cell small-6 large-4">
                <div class="element-synthesis__highlighted">
                    <em class="element-synthesis__highlighted-image mdi mdi-domain"></em>
                    <ul>
                        {% for element_company in element_companies %}
                            <li>{{ appellation_html(element_company.company) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if element_people|length > 0 %}
            <div class="cell small-6 large-4">
                <div class="element-synthesis__highlighted">
                    <em class="element-synthesis__highlighted-image mdi mdi-account-multiple"></em>
                    <ul>
                        {% for element_person in element_people %}
                            <li>{{ appellation_html(element_person.person) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

    </div>
</div>
