{% extends 'base.html.twig' %}

{% block title %}
    {{ appellation(element_storage) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(element_storage) }}
{% endblock %}

{% block content %}
    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
