{% extends 'base.html.twig' %}

{% block content %}
    <div class="login">
        <div class="callout">
            <h1>{{ 'to_connect'|trans }}</h1>

            {% if error %}
                <div class="callout alert" data-closable>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button class="close-button" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <form method="post" action="{{ path('app_security_login') }}">
                <div class="input-group">
                    <span class="input-group-label"><em class="mdi mdi-account"></em></span>
                    <input type="text" value="{{ last_username }}" name="username" class="input-group-field" placeholder="{{ 'email'|trans }}" required autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-label"><em class="mdi mdi-form-textbox-password"></em></span>
                    <input type="password" name="password" class="input-group-field" placeholder="{{ 'password'|trans }}" required>
                </div>
                <div class="float-left">
                    <div class="switch">
                        <input class="switch-input" type="checkbox" id="remember_me" name="_remember_me" checked>
                        <label class="switch-paddle" for="remember_me">
                            <span class="show-for-sr">{{ 'remember_me'|trans }}</span>
                        </label>
                    </div>
                </div>
                <label class="hide-for-sr login-rememberme__label" for="remember_me">
                    Rester connecté
                </label>

                <div class="form-actions">
                    <button class="button success" type="submit">
                        <em class="mdi mdi-login"></em>
                        {{ 'to_connect'|trans }}
                    </button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
{% endblock %}
