$element-anniversary-height: 7rem;

.element-anniversaries {
  clear: left;
  padding: $global-padding/2 $global-padding/2 $global-padding/2 0;

  &__title {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 0.25rem 0.5rem;
  }
}

.element-anniversary {
  background-color: $color-dark;
  border-style: solid;
  border-width: 2px 0 0 0;
  display: block;
  margin: $global-padding/2 0;

  &__illustration {
    background-position: center;
    background-size: cover;
    height: $element-anniversary-height;
    position: relative;
  }

  &-age {
    background-color: transparentize($color-dark, 0.2);
    bottom: 0;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0 $global-padding/4;
    position: absolute;
    text-align: right;
    width: 100%;

    img {
      max-height: 20px;
      max-width: 20px;
    }
  }
}
