.element-list-element {
  &:hover {
    .element-menu {
      opacity: 1;
    }
  }
}

.element-menu {
  left: 0.5rem;
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  transition: opacity 0.5s;

  &__icon {
    background-color: $color-medium;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.1rem 0.25rem 0 0.25rem;
    vertical-align: middle;
  }

  &:hover {
    .element-menu-list {
      display: block;
    }
  }

  &-list {
    background-color: $color-medium;
    display: none;
    font-size: 0.8rem;

    ul {
      list-style-type: none;
      margin: 0;

      li {
        padding: 0;

        a {
          display: block;
          padding: 0.125rem 0.5rem;
        }
      }
    }
  }
}
