.element {
  padding: 0 $global-padding/2;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  &-see_also {
    font-size: 0.8rem;

    &__title {
      font-size: 0.9rem;
      font-weight: bold;
      margin-bottom: $global-padding/2;
    }
  }

  .tabs {
    border-width: 0 0 1px 0;
  }

  .tabs-content {
    border-width: 0;
    margin-bottom: $global-margin;

    ol {
      margin-left: 2.5rem;
    }
  }

  &-note {
    float: right;
    font-size: 1.6rem;
    padding: $global-padding/2 $global-padding 0 $global-padding/2;
  }

  &-synthesis {
    font-size: 1.2rem;
    text-align: center;

    .grid-x {
      margin-bottom: $global-margin*3;
      margin-top: $global-margin*3;
    }

    &__description {
      text-align: left;
    }

    &__year {
      font-size: 2rem;
      font-weight: bold;
    }

    &__set {
      font-size: 1.1rem;
      font-weight: bold;
      text-align: center;
    }

    &__highlighted {
      font-size: 0.9rem;

      @include unstyled-list();

      &-image {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }

    p {
      margin: 0;
    }

    img {
      max-height: 5rem;
      margin: $global-margin;
      max-width: 5rem;

      &.flag {
        padding: (5rem-5rem*$flag-height-ratio)/2 0;
      }
    }

    .flag {
      font-size: 4.5rem;
      margin: $global-margin;
      vertical-align: middle;
    }
  }

  &__cover {
    margin: 0 0 $global-margin 0;

    img {
      width: 100%;
    }
  }

  &-thumbnails {
    &-element {
      margin: 0 0 $global-margin 0;

      &__image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        @include height-equals-width();

        &.border {
          border-style: solid;
          border-width: 0 0 2px 0;
        }
      }

      &__legend {
        padding: $global-padding/2 $global-padding/2 0 $global-padding/2;
        text-align: center;

        img {
          height: 1rem;
          margin-right: 0.25rem;
          vertical-align: top;
        }
      }
    }
  }

  &-supports {
    img {
      height: 3rem;
      width: 3rem;
    }
  }
}
