$element-list-element-height: 15rem;
$element-list-element-height-large: 12rem;

.element-list {
  padding: $global-margin/2;

  @include breakpoint(medium down) {
    padding: 0;
  }

  &-lead {
    &__image {
      text-align: center;

      img {
        max-height: 10rem;
        max-width: 100%;
      }
    }
  }

  &-pagination {
    margin: 0 $global-margin/2;
  }

  &-sort {
    float: right;
    font-size: 1.125rem;
    padding-right: 2rem;
    padding-top: 0.325rem;

    &__item {
      letter-spacing: -0.15rem;
      margin: 0 0.125rem;
      padding: 0.125rem 0.25rem;

      &.active, &:hover {
        background-color: $color-dark;
      }
    }
  }

  &__count {
    float: right;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: right;
  }

  &-element {
    background-color: $color-dark;
    border-style: solid;
    border-width: 3px 0 0 0;
    margin: $global-margin/2;
    position: relative;

    &__illustration {
      aspect-ratio: 1/1;
      background-position: center;
      background-size: cover;
      display: block;
      float: left;
      height: $element-list-element-height;
      
      @include breakpoint(xlarge down) {
        height: $element-list-element-height-large;
      }
      
      @include breakpoint(medium down) {
        aspect-ratio: 3/4;
      }
      
      @include breakpoint(small down) {
        float: none;
        width: 100%;
      }
    }

    &-content {
      height: $element-list-element-height;
      overflow: hidden;
      padding: $global-padding / 2;
      
      @include breakpoint(xlarge down) {
        height: $element-list-element-height-large;
      }

      @include breakpoint(small down) {
        height: auto;
      }
    }

    &__icon {
      float: right;

      img {
        margin: 0 0 $global-padding / 2 $global-padding / 2;
        width: 1.5rem;
      }
    }

    &__title {
      font-size: 1rem;
      font-weight: bold;
      min-height: 1.5rem;
      overflow: hidden;
      
      @include breakpoint(medium up) {
        height: 2.8rem;
      }
    }

    &__description {
      @include unstyled-list();
      font-size: 0.85rem;
      max-height: 3rem;
      overflow: hidden;
      position: relative;
      
      @include breakpoint(medium down) {
        max-height: none;
      }

      p {
        font-size: 0.75rem;
        line-height: 1.25;
      }

      
      @include breakpoint(medium up) {
        &:after {
          position: absolute;
          bottom: 0;
          height: 100%;
          width: 100%;
          content: "";
          background: linear-gradient(to top, transparentize($color-dark, 0) 10%, transparentize($color-dark, 1) 60%);
          pointer-events: none;
        }
      }
      
    }

    &-caracteristics {
      font-size: 0.8rem;
      text-align: center;

      p {
        margin: 0;
      }
    }

    &__year {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }

    &-genres {
      @include unstyled-list();

      ul {
        line-height: 1rem;
        margin: 0;
      }
    }

    &-origins {
      @include inline-list();

      ul {
        margin: 0;
      }

      img {
        margin: $global-margin/2;
        max-height: 3rem;
        max-width: 3rem;
        object-fit: cover;
      }

      .flag {
        font-size: 2rem;
        line-height: 2rem;
        margin: $global-margin / 4;
        vertical-align: middle;
      }
    }

    &-universes, &-platforms {
      @include inline-list();

      ul {
        margin: 0;
      }

      img {
        margin: $global-margin/2;
        height: 30px;
        width: 30px;
      }
    }
  }
}
