.type-list {
  padding: $global-margin/2 0 $global-margin/2 $global-margin/2;

  &-item {
    float: left;
    width: (100% / 4);
    @include breakpoint(medium only) {
      width: 25%;
    }
    @include breakpoint(small down) {
      width: 50%;
    }

    &__link {
      margin: $global-margin/2;
      text-align: center;
      transition: all 0.3s ease;

      @include height-equals-width();

      img {
        width: 50%;
      }
    }
  }
}
