{% if birthday_elements is not empty %}
    <div class="element-anniversaries">
        <div class="grid-x grid-padding-x">
            {% for element in birthday_elements %}
                {% set anniversary_date = element.elementDateByDayAndMonth(birth_day, birth_month) %}
                {% set age = anniversary_date.age %}

                <div class="cell xlarge-3 large-4 medium-6">
                    <a href="{{ entity_path(element) }}" class="element-anniversary type-{{ element.type.id }}-border">
                        <div class="element-anniversary__illustration" style="background-image: url('{{ element|thumbnail_src }}');" title="{{ appellation(element) }}">
                            <div class="element-anniversary-age">
                                {% if anniversary_date.location is not null %}
                                    {{ anniversary_date.location|icon }}
                                {% endif %}
                                {{ age }} {{ ('an'~(age > 1 ? 's' : ''))|trans }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
