{% extends 'base.html.twig' %}

{% block content %}
    <div class="grid-x">
        <div class="cell medium-8">
            <div class="type-list">
                {% for type in app.types %}
                    <div class="type-list-item">
                        <a href="{{ entity_path(type) }}" class="type-list-item__link type-{{ type.id }}-background type-{{ type.id }}-background-hover-light">
                            <img src="{{ asset(type.icon.url) }}" alt="{{ type }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="cell medium-4">
            {{ include('type/_element_anniversaries.html.twig') }}
        </div>
    </div>
{% endblock %}
