{% extends 'base.html.twig' %}

{% block title %}
    {{ type|icon }} {{ appellation(type) }}
{% endblock %}

{% block actions %}
    {% if is_granted('element_add') %}
        <a href="{{ path('element_element_add', {type: type.id}) }}" class="button success">
            <em class="mdi mdi-plus"></em>
        </a>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(type) }}
{% endblock %}

{% block content %}
    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
