<div class="element" id="element-{{ element.id }}">
    <h3 class="libelle-type border-color-type-{{ element.type.id }}">{{ element }}</h3>
    <div class="element-body">
        {{ include('file_generation/_include/element/identity.html.twig') }}
        {{ include('file_generation/_include/element/family.html.twig') }}
        {{ include('file_generation/_include/element/recipe.html.twig') }}
        {{ include('file_generation/_include/element/description.html.twig') }}
        {{ include('file_generation/_include/element/caracteristics.html.twig') }}
    </div>
</div>
