{% for type in app.types %}
    .border-color-type-{{ type.id }} {
        border-color: {{ type.color|raw }};
    }
{% endfor %}

.libelle-type {
    {# Wkhtml bug fix to hide small borders #}
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-top-color: #fff;

    border-style: solid;
    border-width: 0 0 0 6px;
    display: block;
    padding: 3px 6px;

    {# Wkhtml bug fix to increase top padding #}
    {% if file_type == 'pdf' %}padding-top: 6px;{% endif %}
}

{{ include('file_generation/_include/css/typography.css.twig') }}
{{ include('file_generation/_include/css/summary.css.twig') }}
{{ include('file_generation/_include/css/genres.css.twig') }}
{{ include('file_generation/_include/css/element.css.twig') }}
