{% extends 'base.html.twig' %}

{% block title %}
    {{ type|icon }} {{ appellation(type) }} : {{ appellation(genre) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(genre) }}
{% endblock %}

{% block content %}
    <div class="element-list-lead">
        <div class="grid-x grid-padding-x">
            {% if genre.parent is not null %}
                <div class="cell medium-3">
                    <div class="property">
                        {{ 'parent'|trans }}
                        <p>
                            {{ appellation_html(genre.parent) }}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if genre.children|length > 0 %}
                <div class="cell medium-3">
                    <div class="property">
                        {{ 'children'|trans }}
                        <ul>
                            {% for child in genre.children %}
                                <li>{{ appellation_html(child) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
