{% extends 'file_generation/base.html.twig' %}

{% block content %}
    <h1>CollectoLys</h1>

    <h2>{{ 'summary'|trans }}</h2>
    <nav class="summary">
        <ul>
            {% for type in app.types %}
                <li>
                    <a href="#collection-{{ type.id }}" class="libelle-type border-color-type-{{ type.id }}">{{ type }}</a>
                    <ul>
                        {% for genre in type.genreParents %}
                            <li>
                                <a href="#genre-{{ genre.id }}" class="libelle-type border-color-type-{{ type.id }}">{{ genre }}</a>
                                {% if genre.children is not empty %}
                                    <ul>
                                        {% for subgenre in genre.children %}
                                            <li>
                                                <a href="#genre-{{ subgenre.id }}" class="libelle-type border-color-type-{{ type.id }}">{{ subgenre }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <h2 class="page-break-before">{{ 'collections'|trans }}</h2>
    {% for type in app.types %}
        <div class="genres">
            <h3 id="collection-{{ type.id }}" class="libelle-type border-color-type-{{ type.id }}">{{ type }}</h3>
            {% for genre in type.genres %}
                <div id="genre-{{ genre.id }}">
                    <h4 class="libelle-type border-color-type-{{ type.id }}">{{ genre }}</h4>
                    <ul>
                        {% for element in genre|elements_by_genre %}
                            <li>
                                <a href="#element-{{ element[0].id }}" class="libelle-type border-color-type-{{ type.id }}">{{ element[0] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <h2 class="page-break-before">{{ 'elements'|trans }}</h2>
    {% for element in elements %}
        {{ include('file_generation/_include/element.html.twig', { element: element[0] }) }}
    {% endfor %}
{% endblock %}
