@import '~foundation-sites/scss/global';

$breakpoints: (
  small: 0,
  medium: 620px,
  large: 1000px,
  xlarge: 1420px,
  xxlarge: 1900px,
);
$breakpoint-classes: (small medium large xlarge xxlarge);

$foundation-palette: (
        primary: #2e6af2,
        secondary: #767676,
        success: #1d773c,
        warning: #ffa51f,
        alert: #c91600,
);

$anchor-color: $text-color;

$breadcrumbs-item-color: $text-color;
$breadcrumbs-item-color-current: $breadcrumbs-item-color;
$breadcrumbs-item-font-size: 0.9rem;
$breadcrumbs-margin: calc($global-margin / 2) 0;

$body-background: $color-dark;
$body-font-color: $text-color;
$body-font-family: 'Comfortaa', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$callout-background: $color-medium;
$callout-background-fade: 0%;

$dropdown-menu-item-background-active: lighten($color-dark, 10%);
$dropdown-menu-item-color-active: $anchor-color;
$dropdownmenu-arrows: false;

$form-label-color: darken($text-color, 20%);
$form-label-font-size: 0.8rem;

$grid-margin-gutters: (
        small: 10px,
        medium: 15px
);

$has-tip-cursor: default;
$has-tip-font-weight: inherit;
$has-tip-border-bottom: 0;

$list-style-type: square;

$menu-item-background-active: $dropdown-menu-item-background-active;

$pagination-item-background-current: $color-dark;
$pagination-item-background-hover: $color-dark;
$pagination-item-color: $text-color;
$pagination-ellipsis-color: $text-color;
$pagination-margin-bottom: 0;
$pagination-mobile-items: true;

$reveal-background: $color-dark;

$tab-background: $color-dark;
$tab-color: $text-color;
$tab-background-active: $color-medium;
$tab-active-color: $text-color;
$tab-item-font-size: 1rem;
$tab-item-background-hover: $tab-background-active;
$tab-content-background: $color-dark;
$tab-content-border: $color;

$table-background: $color-dark;

$topbar-background: $color-darker;
$topbar-padding: 0;
