{% for type in app.types %}
    body[data-type="{{ type.id }}"] {
        background-image: radial-gradient(circle at 17% 77%, rgba(17,17,17, 0.04) 0%, rgba(17,17,17, 0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,{{ type.darkColor|raw('css') }} 50%, {{ type.darkColor|raw('css') }} 100%),linear-gradient(19deg, rgb(44,44,44),{{ type.darkColor|raw('css') }});
    }

    .type-{{ type.id }}-background {
        background-color: {{ type.color|raw('css') }};
    }
    .type-{{ type.id }}-background-hover-light:hover {
        background-color: {{ type.lightColor|raw('css') }};
    }
    .type-{{ type.id }}-border,
    [data-type="{{ type.id }}"] .type-border {
        border-color: {{ type.color|raw('css') }} !important;
    }
    .type-{{ type.id }}-color {
        color: {{ type.color|raw('css') }};
    }

    .callout.type-{{ type.id }} {
        border-color: {{ type.color|raw('css') }};
        border-width: 3px 0 0 0;
    }
{% endfor %}
