{% extends 'base.html.twig' %}

{% block title %}
    {{ 'companies'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('companies'|trans, 'statistics'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        {% for  company_and_count in best_companies %}
            <div class="cell medium-6 large-4 xxlarge-2">
                <div class="callout">
                    <p>
                        <span class="lead float-right">{{ company_and_count.count|format_number }}</span>
                        <a href="{{ path('company_company_show', { company: company_and_count.slug }) }}">
                            <strong>
                                {% if company_and_count.locationEmoji is not null %}
                                    <span class="flag">{{ company_and_count.locationEmoji }}</span>
                                {% endif %}
                                {{ company_and_count.name }}
                            </strong>
                        </a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
