{% extends 'base.html.twig' %}

{% block title %}
    {{ 'genres'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('genres'|trans, 'statistics'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        {% for type_id, chart_config in chart_configs %}
            <div class="cell xlarge-6">
                <div class="callout type-{{ type_id }}">
                    <h2>{{ chart_config.options.title.text }}</h2>
                    <div class="statistic-chart">
                        <canvas data-chart-config="{{ chart_config|json_encode }}"></canvas>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="grid-x grid-padding-x">
        {% for  type_and_genres in best_genres_by_type %}
            <div class="cell medium-6 large-4 xxlarge-2">
                <div class="callout type-{{ type_and_genres.type.id }}">
                    <h2>{{ appellation_html(type_and_genres.type) }}</h2>
                    <table>
                        <tbody>
                        {% for genre in type_and_genres.genres %}
                            <tr>
                                <td>
                                    <a href="{{ path('genre_show', { genre: genre.slug }) }}">
                                        {{ genre.name }}
                                    </a>
                                </td>
                                <td class="text-right">
                                    {{ genre.count }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
