{% extends 'base.html.twig' %}

{% block title %}
    {{ 'statistic.global'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('statistic.global'|trans, 'statistics'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="callout">
                <div class="statistic-chart">
                    <canvas data-chart-config="{{ chart_config|json_encode }}"></canvas>
                </div>
                <p class="lead">
                    {{ 'total'|trans }} : {{ global_total|format_number }}
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
