{% extends 'base.html.twig' %}

{% block title %}
    {{ 'origins'|trans }}
    {% if type is defined %}
        <small>{{ appellation(type) }}</small>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if type is defined %}
        {{ lyssal_breadcrumb(type, '<a href="'~path('statistic_origins')~'">'~'origins'|trans~'</a>', 'statistics'|trans) }}
    {% else %}
        {{ lyssal_breadcrumb('origins'|trans, 'statistics'|trans) }}
    {% endif %}
{% endblock %}

{% block actions %}
    {% apply spaceless %}
        {% for appType in app.types %}
            <a href="{{ path('statistic_origins', { type: appType.slug }) }}" class="button type-{{ appType.id }}-background">
                <img src="{{ asset(appType.icon.url) }}" alt="{{ appType }}" title="{{ appType }}" width="16" height="16">
            </a>
        {% endfor %}
    {% endapply %}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell large-9">
            <div data-preview="jvectormap-next" data-regions="{{ mappemonde_series|json_encode }}" data-color="{% if type is defined%}{{ type.darkColor }}{% else %}#333333{% endif%}" style="height: 650px;"></div>
        </div>
        <div class="cell large-3">
            <table>
                <tbody>
                {% for location in best_locations %}
                    <tr>
                        <td>
                            {% if type is defined %}
                            <a href="{{ path('element_element_listbytypeandorigin', { type: type.slug, location: location.slug }) }}">
                                {% endif %}
                                {{ location.emoji }}
                                {{ location.name }}
                                {% if type is defined %}
                            </a>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {{ location.count }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
