{% extends 'base.html.twig' %}

{% block title %}
    {{ 'people'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('people'|trans, 'statistics'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        {% for  person_and_count in best_people %}
            <div class="cell medium-6 large-4 xxlarge-2">
                <div class="callout">
                    <p>
                        <span class="lead float-right">{{ person_and_count.count|format_number }}</span>
                        <a href="{{ path('person_person_show', { person: person_and_count.slug }) }}">
                            <strong>
                                {{ person_and_count.firstName }} {{ person_and_count.lastName }}
                            </strong>
                        </a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
