{% extends 'base.html.twig' %}

{% block title %}
    {{ 'sets'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('sets'|trans, 'statistics'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        {% for  set_and_count in best_sets %}
            <div class="cell medium-6 large-4 xxlarge-2">
                <div class="callout type-{{ set_and_count.type_id }}">
                    <p>
                        <span class="float-right">{{ set_and_count.count|format_number }}</span>
                        <a href="{{ path('element_set_show', { set: set_and_count.id, slug: set_and_count.slug }) }}">
                            <strong>
                                {{ set_and_count.name }}
                            </strong>
                        </a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
