{% extends 'base.html.twig' %}

{% block title %}
    {{ 'universes'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('universes'|trans, 'statistics'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        {% for  universe_and_count in best_universes %}
            <div class="cell medium-6 large-4 xxlarge-2">
                <div class="callout">
                    <p>
                        <span class="lead float-right" style="padding-top: 8px;">{{ universe_and_count.count|format_number }}</span>
                        <a href="{{ path('universe_show', { universe: universe_and_count.slug }) }}">
                            <strong>
                                <img src="{{ asset('images/icons/' ~ universe_and_count.icon_path ~ '/' ~ universe_and_count.icon_filename) }}" alt="{{ universe_and_count.name }}" width="48" height="48">
                                {{ universe_and_count.name }}
                            </strong>
                        </a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
