{% extends 'base.html.twig' %}

{% block title %}
    {{ 'video_game.platforms'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('video_game.platforms'|trans, 'statistics'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="callout type-{{ type.id }}">
                <div class="statistic-chart">
                    <canvas data-chart-config="{{ chart_config|json_encode }}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        {% for  platform_and_count in best_platforms %}
            <div class="cell medium-6 large-4 xxlarge-2">
                <div class="callout">
                    <p>
                        <span class="lead float-right" style="padding-top: 8px;">{{ platform_and_count.count|format_number }}</span>
                        <a href="{{ path('element_element_listbytypeandplatform', { type: type.slug, platform: platform_and_count.slug }) }}">
                            <strong>
                                <img src="{{ asset('images/icons/' ~ platform_and_count.icon_path ~ '/' ~ platform_and_count.icon_filename) }}" alt="{{ platform_and_count.name }}" width="48" height="48" style="height: 48px;width: 48px;">
                                {{ platform_and_count.name }}
                            </strong>
                        </a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
