{% extends 'base.html.twig' %}

{% block title %}
    {{ 'web_sources'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('web_sources'|trans, 'statistics'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="callout">
                <div class="statistic-chart">
                    <canvas data-chart-config="{{ chart_config|json_encode }}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        {% for  domain_and_count in best_domains %}
            <div class="cell medium-6 large-4 xxlarge-2">
                <div class="callout">
                    <p>
                        <span class="lead float-right">{{ domain_and_count.count|format_number }}</span>
                        <a href="https://{{ domain_and_count.name }}" target="_blank">
                            {{ domain_and_count.name }}
                        </a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
