{% extends 'base.html.twig' %}

{% block title %}
    {{ 'years'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('years'|trans, 'statistics'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="callout">
                <div class="statistic-chart">
                    <canvas data-chart-config="{{ chart_config|json_encode }}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        {% for  type_and_years in best_years_by_type %}
            <div class="cell medium-6 large-4 xxlarge-2">
                <div class="callout type-{{ type_and_years.type.id }}">
                    <h2>{{ appellation_html(type_and_years.type) }}</h2>
                    <table>
                        <tbody>
                            {% for year in type_and_years.years %}
                                <tr>
                                    <td>
                                        <a href="{{ path('element_element_listbytypeandyear', { type: type_and_years.type.slug, year: year.year }) }}">
                                            {{ year.year }}
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        {{ year.count }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
