{% use 'form_div_layout.html.twig' %}

{%- block choice_widget_collapsed -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{# jquery.collection.html.twig #}
{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- for error in errors -%}
        <div class="form-error is-visible" data-form-error-for="{{ form.vars.id }}">{{ error.message }}</div>
    {%- endfor -%}
{%- endblock form_errors -%}

{% block file_widget %}
    {%- spaceless %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' show-for-sr input-group-field')|trim}) %}
        {{ block('form_widget_simple') }}
        <label for="{{ form.vars.id }}" class="button button-file"><em class="mdi mdi-upload"></em> {{ 'upload'|trans }}</label>
    {% endspaceless -%}
{% endblock %}

{% block image_widget %}
    {%- spaceless %}
        {% if data is not null and data.filename is not null %}
            {{ data|image }}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless -%}
{% endblock %}

{% block icon_widget %}
    {{ block('image_widget') }}
{% endblock %}

{% block collection_entry_row %}
    {%- spaceless %}
        {% set has_position = 'position' in form|keys %}
        <div class="cell {{ cell_class }}">
            <div class="callout">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
                <div class="form-actions">
                    {% if has_position %}
                        <button type="button" class="button primary button-move"><em class="mdi mdi-cursor-move"></em></button>
                    {% endif %}
                    <button type="button" class="button alert collection-remove symfony-collection-remove"><em class="mdi mdi-delete"></em></button>
                </div>
            </div>
        </div>
    {% endspaceless -%}
{% endblock %}

{% block age_widget %}
    <div class="input-group">
        {{ form_widget(form, {attr: {class: 'input-group-field'}}) }}
        <span class="input-group-label">{{ 'age.years'|trans }}</span>
    </div>
{% endblock %}

{% block element_name_row %}
    {% set cell_class = 'medium-6' %}
    {{ block('collection_entry_row') }}
{% endblock %}

{% block element_name_widget %}
    {{ form_row(form.name) }}
    {{ form_row(form.subname) }}

    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {{ form_row(form.language) }}
        </div>
        <div class="cell medium-6">
            {{ form_row(form.precisions) }}
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock %}

{% block first_sub_elements_row %}
    {{ form_label(form) }}
    <div class="callout">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block element_subelement_row %}
    {% set has_position = 'position' in form|keys %}
    <div class="cell small-12">
        {% set has_form_children = form.offsetExists('children') %}
        {% set is_first_level = has_form_children %}

        <div class="element-form-subelements-level-{{ is_first_level ? '1' : '2' }}">
            <div class="input-group">
                {{ form_widget(form.name, { attr: { class: 'input-group-field', placeholder: form.name.vars.label } }) }}
                <div class="input-group-button">
                    {% if has_position %}
                        <button type="button" class="button{% if not is_first_level %} small{% endif %} primary collection-down"><em class="mdi mdi-arrow-down-bold"></em></button>
                        <button type="button" class="button{% if not is_first_level %} small{% endif %} primary collection-up"><em class="mdi mdi-arrow-up-bold"></em></button>
                    {% endif %}
                    <button type="button" class="button{% if not is_first_level %} small{% endif %} alert collection-remove symfony-collection-remove"><em class="mdi mdi-delete"></em></button>
                    {% if is_first_level %}
                        <button type="button" class="button{% if not is_first_level %} small{% endif %} success" data-toggler="#subelements-container-{{ form.vars.id }}">
                            <em class="mdi mdi-chevron-double-down"></em>
                            <em class="mdi mdi-format-list-bulleted"></em>
                        </button>
                    {% endif %}
                </div>

                {% if form.orderedChildren is defined %}
                    <label class="input-group-label" title="{{ form.orderedChildren.vars.label|trans }}">
                        {{ form_widget(form.orderedChildren) }}
                        &nbsp; <em class="mdi mdi-format-list-numbered"></em>
                    </label>
                {% endif %}
            </div>

            {{ form_errors(form.name) }}

            <div class="element-form-subelements-sublevel-{{ is_first_level ? '1' : '2' }}" id="subelements-container-{{ form.vars.id }}"{% if has_form_children and form.offsetGet('children')|length == 0 %} style="display: none;" {% endif %}>
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block element_date_row %}
    {% set cell_class = 'medium-6' %}
    {{ block('collection_entry_row') }}
{% endblock %}

{% block element_date_widget %}
    {{ form_row(form.location) }}
    <div class="grid-x grid-padding-x">
        <div class="cell large-6">
            {{ form_row(form.date) }}
        </div>
        <div class="cell large-6">
            {{ form_row(form.year) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block element_company_row %}
    {% set cell_class = 'medium-6' %}
    {{ block('collection_entry_row') }}
{% endblock %}

{% block element_company_widget %}
    <div class="grid-x grid-padding-x">
        <div class="cell large-6">
            {{ form_row(form.role) }}
        </div>
        <div class="cell large-6">
            {{ form_row(form.company) }}
        </div>
        <div class="cell large-9">
            {{ form_row(form.precisions) }}
        </div>
        <div class="cell large-3">
            {{ form_row(form.highlighted) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block element_person_row %}
    {% set cell_class = 'medium-6' %}
    {{ block('collection_entry_row') }}
{% endblock %}

{% block element_person_widget %}
    {{ form_row(form.role) }}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {{ form_row(form.firstName) }}
        </div>
        <div class="cell medium-6">
            {{ form_row(form.lastName) }}
        </div>
        <div class="cell large-9">
            {{ form_row(form.details) }}
        </div>
        <div class="cell large-3">
            {{ form_row(form.highlighted) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block element_price_row %}
    {% set cell_class = 'medium-6' %}
    {{ block('collection_entry_row') }}
{% endblock %}

{% block element_illustration_row %}
    {% set cell_class = 'medium-6 large-4' %}
    {{ block('collection_entry_row') }}
{% endblock %}

{% block user_elementuse_row %}
    {% set cell_class = 'medium-4' %}
    {{ block('collection_entry_row') }}
{% endblock %}

{% block user_elementsupport_row %}
    {% set cell_class = 'small-12' %}
    {{ block('collection_entry_row') }}
{% endblock %}

{% block user_elementsupport_widget %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {{ form_row(form.storage) }}
        </div>
        <div class="cell medium-6">
            {{ form_row(form.storageBackup) }}
        </div>
    </div>
    {{ form_row(form.support) }}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {{ form_row(form.version) }}
        </div>
        <div class="cell medium-6">
            {{ form_row(form.condition) }}
        </div>
    </div>
    {{ form_row(form.comment) }}

    {% if form.bitrate is defined %}
        <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
                {{ form_row(form.bitrate) }}
            </div>
            <div class="cell medium-6">
                {{ form_row(form.codec) }}
            </div>
        </div>
    {% elseif form.videoBitrate is defined %}
        <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
                {{ form_label(form.videoBitrate) }}
                <div class="input-group">
                    {{ form_widget(form.videoBitrate, {attr: {class: 'input-group-field'}}) }}
                    <span class="input-group-label">{{ 'bitrate.unit'|trans }}</span>
                </div>
            </div>
            <div class="cell medium-6">
                {{ form_row(form.videoCodec) }}
            </div>
            <div class="cell medium-6">
                {{ form_label(form.audioBitrate) }}
                <div class="input-group">
                    {{ form_widget(form.audioBitrate, {attr: {class: 'input-group-field'}}) }}
                    <span class="input-group-label">{{ 'bitrate.unit'|trans }}</span>
                </div>
            </div>
            <div class="cell medium-6">
                {{ form_row(form.audioCodec) }}
            </div>
            <div class="cell medium-6">
                <label>
                    {{ 'resolution'|trans }}
                    <div class="input-group">
                        {{ form_widget(form.resolutionWidth, {attr: {placeholder: 'width'|trans, class: 'input-group-field'}}) }}
                        <span class="input-group-label"><em class="mdi mdi-multiplication"></em></span>
                        {{ form_widget(form.resolutionHeight, {attr: {placeholder: 'height'|trans, class: 'input-group-field'}}) }}
                        <span class="input-group-label">{{ 'resolution.unit'|trans }}</span>
                    </div>
                </label>
            </div>
            <div class="cell medium-6">
                {{ form_row(form.threeDimensional) }}
            </div>
        </div>
    {% endif %}

    {{ form_row(form.languages) }}
    {{ form_row(form.webSource) }}
    {{ form_rest(form) }}
{% endblock %}

{% block user_elementsupportlanguage_row %}
    {% set cell_class = 'medium-3' %}
    {{ block('collection_entry_row') }}
{% endblock %}
