{% if element.isAudio and element.duration is not null %}
    <div class="property">
        <div class="property-title">{{ 'duration'|trans }}</div>
        <p>
            {{ element.duration|date('H:i:s') }}
        </p>
    </div>
{% elseif element.isVideo and (element.duration is not null or element.color is not null) %}
    {% if element.duration is not null %}
        <div class="property">
            <div class="property-title">{{ 'duration'|trans }}</div>
            <p>
                {{ element.duration|date('H:i:s') }}
            </p>
        </div>
    {% endif %}
    {% if element.color is not null %}
        <div class="property">
            <div class="property-title">{{ 'color'|trans }}</div>
            <p>
                {{ ('color.'~element.color)|trans }}
            </p>
        </div>
    {% endif %}
{% elseif (element.isBook or element.isPeriodical) and element.pageCount is not null %}
    <div class="property">
        <div class="property-title">{{ 'page_count'|trans }}</div>
        <p>
            {{ element.pageCount|format_number }}
        </p>
    </div>
{% elseif element.isVideoGame and (element.multiplayer|length > 0 or element.maxPlayerCount is not null) %}
    {% if element.multiplayer|length > 0 %}
        <div class="property">
            <div class="property-title">{{ 'multiplayer'|trans }}</div>
            <ul>
                {% for player in element.multiplayerNames %}
                    <li>{{ player|trans }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if element.maxPlayerCount is not null %}
        <div class="property">
            <div class="property-title">{{ 'max_player_count'|trans }}</div>
            <p>
                {{ element.maxPlayerCount }}
            </p>
        </div>
    {% endif %}
{% endif %}
