{% import _self as self %}

{% macro sub_elements(sub_elements, ordered) %}
    {% if sub_elements|length > 0 %}
        <{{ ordered ? 'o' : 'u' }}l>
            {% for sub_element in sub_elements %}
                {% import _self as self %}
                <li>
                    {{ sub_element }}
                    {{ self.sub_elements(sub_element.children, sub_element.orderedChildren) }}
                </li>
            {% endfor %}
        </{{ ordered ? 'o' : 'u' }}l>
    {% endif %}
{% endmacro %}

{% if element.subElements|length > 0 or element.content is not null %}
    <div class="property">
        <div class="property-title">{{ 'description'|trans }}</div>

        {% if element.subElements|length > 0 %}
            {{ self.sub_elements(element.firstSubElements, element.orderedSubElements) }}
        {% endif %}
    </div>

    {% if element.content is not null %}
        {{ element.content|raw_secure }}
    {% endif %}
{% endif %}
