{% if element.isVideo %}
    <div class="property">
        <div class="property-title">{{ 'video.type'|trans }}</div>
        <p>{{ constant('App\\Enum\\VideoTypeEnum::VALUES')[element.videoType]|trans }}</p>
    </div>
{% endif %}

{% if element.set is not null %}
    <div class="property">
        <div class="property-title">{{ 'set'|trans }}</div>
        <p>
            {{ element.set }}
        </p>
    </div>
{% endif %}

{% if element.genres|length > 0 %}
    <div class="property">
        <div class="property-title">{{ ('genre'~(element.genres|length > 1 ? 's' : ''))|trans }}</div>
        <ul>
            {% for genre in element.genres %}
                <li>{{ genre }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if element.universes|length > 0 %}
    <div class="property">
        <div class="property-title">{{ ('universe'~(element.universes|length > 1 ? 's' : ''))|trans }}</div>
        <ul>
            {% for universe in element.universes %}
                <li>
                    {% if file_type == 'html' %}{{ universe|icon }} {% endif %}{{ universe }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if element.hasPlatform %}
    <div class="property">
        <div class="property-title">{{ ('platform'~(element.platforms|length > 1 ? 's' : ''))|trans }}</div>
        <ul>
            {% for platform in element.platforms %}
                <li>
                    {% if file_type == 'html' %}{{ platform|icon }} {% endif %}{{ platform }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
