<div class="property">
    <div class="property-title">{{ 'element_type'|trans }}</div>
    <p>
        {{ element.type.elementName }}
    </p>
</div>

{% if element.description is not null %}
    <p>{{ element.description }}</p>
{% endif %}

{% set year = element.year %}
{% if year is not null %}
    <div class="property">
        <div class="property-title">{{ 'year'|trans }}</div>
        <p>{{ year }}</p>
    </div>
{% endif %}

{% if element.origins|length > 0 %}
    <div class="property">
        <div class="property-title">{{ ('origin'~(element.origins|length > 1 ? 's' : ''))|trans }}</div>
        <ul>
            {% for location in element.origins %}
                <li>{% if file_type == 'html' %}{{ location|icon_by_element(element) }} {% endif %}{{ location.versionNameByElement(element) }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
