{% if element.preparationTime is defined %}
    {% if element.preparationTime is not null %}
        <div class="property">
            <div class="property-title">{{ 'preparation_time'|trans }}</div>
            <p>
                {{ element.preparationTime|date('H:i') }}
            </p>
        </div>
    {% endif %}

    {% if element.personCount is not null %}
        <div class="property">
            <div class="property-title">{{ 'person_count'|trans }}</div>
            <p>
                {{ element.personCount }}
            </p>
        </div>
    {% endif %}

    {% if element.ingredients %}
        <div class="property">
            <div class="property-title">{{ 'ingredients'|trans }}</div>
            <ul>
                <li>
                    {{ element.ingredients|split("\n")|join('</li><li>')|raw_secure }}
                </li>
            </ul>
        </div>
    {% endif %}
{% endif %}
