{% extends 'base.html.twig' %}

{% block title %}
    {{ universe|icon }} {{ appellation(universe) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(universe) }}
{% endblock %}

{% block content %}
    <div class="element-list-lead">
        <div class="grid-x grid-padding-x">
            {% if universe.parent is not null %}
                <div class="cell medium-3">
                    <div class="property">
                        {{ 'parent'|trans }}
                        <p>
                            <a href="{{ path('universe_show', { universe: universe.parent.slug }) }}">{{ universe.parent|icon }} {{ appellation(universe.parent) }}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if universe.children|length > 0 %}
                <div class="cell medium-9">
                    <div class="property">
                        {{ 'children'|trans }}

                        <p>
                            {% for child in universe.children %}
                                {{ child|icon_link }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
