{% macro display_also_elements(elements, type) %}
    {% if type is defined %}
        <div class="property">
            {{ type }}
        </div>
    {% endif %}
    <div class="grid-x grid-padding-x">
        {% for see_also in elements %}
            <div class="cell small-6">
                <div class="element-thumbnails-element">
                    <a href="{{ entity_path(see_also) }}">
                        <div class="element-thumbnails-element__image border type-{{ see_also.type.id }}-border" style="background-image: url('{{ see_also|thumbnail_src }}');"></div>
                        <div class="element-thumbnails-element__legend">
                            {{ see_also.type|icon }}
                            {{ appellation(see_also) }}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% if see_also_elements is not empty %}
    <div class="panel element-see_also">
        <div class="element-see_also__title">{{ 'see.also'|trans }}</div>

        <div class="element-thumbnails">
            {% if see_also_elements[type.id] is defined %}
                {{ _self.display_also_elements(see_also_elements[type.id]['elements']) }}
            {% endif %}
            {% for type_id, elements_and_type in see_also_elements %}
                {% if type.id != type_id %}
                    {{ _self.display_also_elements(elements_and_type['elements'], elements_and_type['type']) }}
                {% endif %}
            {% endfor %}
{#            <div class="grid-x grid-padding-x">#}
{#                {% for see_also in see_also_elements %}#}
{#                    <div class="cell small-6">#}
{#                        <div class="element-thumbnails-element">#}
{#                            <a href="{{ entity_path(see_also) }}">#}
{#                                <div class="element-thumbnails-element__image border border type-{{ see_also.type.id }}-border" style="background-image: url('{{ see_also|thumbnail_src }}');"></div>#}
{#                                <div class="element-thumbnails-element__legend">#}
{#                                    {{ see_also.type|icon }}#}
{#                                    {{ appellation(see_also) }}#}
{#                                </div>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
        </div>
    </div>
{% endif %}
