$property-icon-size: 3rem;

@mixin property-value {
  color: $text-color;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: $global-margin;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Regular.ttf');
}
@font-face {
  font-family: 'Densmore';
  src: url('../fonts/Densmore.ttf');
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: $global-margin/2 0;

  img {
    height: 3rem;
  }
}

h2 {
  font-size: 1.8rem;
}

a {
  cursor: pointer;
}

fieldset {
  @include callout();
}

.h1-subtitles {
  font-size: 0.85rem;
  font-weight: lighter;

  ul {
    list-style-type: none;
    margin: 0;
  }

  img {
    max-height: 2.25rem;
    max-width: 2.25rem;

    &.flag {
      padding: (3rem-3rem*$flag-height-ratio)/2 0;
    }
  }

  .flag {
    font-size: 1.5rem;
    margin: 0 0.25rem 0 0;
    vertical-align: middle;
  }
}

.text-color {
  @each $name, $color in $button-palette {
    &.#{$name} {
      color: $color;
    }
  }
}

.property {
  font-size: $form-label-font-size;
  color: $form-label-color;

  &-value-with-icon {
    @include property-value();
    align-items: center;
    display: flex;
  }

  h2, p, ul, ol {
    @include property-value();
  }

  .precisions {
    display: block;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0.75rem;

    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }

  @include unstyled-list();

  ul {
    ul, ol {
      font-weight: normal;
      margin-bottom: $global-margin;
    }

    ul {
      margin-left: $global-margin;
    }

    ol {
      margin-left: $global-margin*2;
    }
  }

  ol {
    margin-left: $global-margin;
  }

  small {
    font-weight: normal;
  }

  img {
    max-height: $property-icon-size;
    margin: 0 $global-margin 0 0;
    max-width: $property-icon-size;

    &.flag {
      padding: (4rem-4rem*$flag-height-ratio)/2 0;
    }
  }

  .flag {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
  }
}
