$color: #5A5E6B;
$color-dark: #303030;
$color-darker: #202020;
$color-medium: lighten($color-dark, 5%);

$text-color: #FEFEFE;

$flag-height-ratio: 3/4;

@mixin height-equals-width {
  display: block;

  &:before {
    content: '';
    display: inline-block;
    padding: 50% 0;
    vertical-align: middle;
    width: 0;
  }
}

@mixin unstyled-list {
  ul {
    list-style-type: none;
    margin-left: 0;
  }
}

@mixin inline-list {
  @include unstyled-list();

  ul {
    li {
      display: inline;
    }
  }
}
