{% extends 'base.html.twig' %}

{% block title %}
    {{ type|icon }} {{ appellation(type) }} : {{ appellation(element_set) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(element_set) }}
{% endblock %}

{% block actions %}
    {% apply spaceless %}
        <a href="{{ path('element_element_show', { element: element_set.id, slug: element_set.slug }) }}" class="button primary" data-ajax-new-page="false">
            <em class="mdi mdi-file-document"></em>
        </a>
        {% if is_granted('element_edit', element_set) %}
            <a href="{{ path('element_element_edit', {element: element_set.id}) }}" class="button success" data-ajax-new-page="false">
                <em class="mdi mdi-file-document-edit"></em>
            </a>
        {% endif %}
        {% if is_granted('element_delete', element_set) %}
            <form method="post" action="{{ path('element_element_remove', { element: element_set.id }) }}">
                <button type="submit" class="button alert" onclick="return confirm('{{ 'message.action.confirm'|trans }}');" data-ajax="false"><em class="mdi mdi-delete"></em></button>
            </form>
        {% endif %}
    {% endapply %}
{% endblock %}

{% block content %}
    {% if not element_set.children.empty or not element_set.parents.empty %}
        <div class="element-list-lead">
            <div class="grid-x grid-padding-x">
                {% if not element_set.parents.empty %}
                    <div class="cell medium-6">
                        <div class="property">
                            {{ 'parents'|trans }}
                            <div class="grid-x grid-padding-x">
                                {% for parent in element_set.parents %}
                                    <div class="cell small-6 medium-6 large-3">
                                        <div class="element-thumbnails-element">
                                            <a href="{{ entity_path(parent) }}">
                                                <div class="element-thumbnails-element__image border border type-{{ parent.type.id }}-border" style="background-image: url('{{ parent|thumbnail_src }}');"></div>
                                                <div class="element-thumbnails-element__legend">
                                                    {{ parent.type|icon }}
                                                    {{ appellation(parent) }}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if not element_set.children.empty %}
                    <div class="cell medium-6">
                        <div class="property">
                            {{ 'children'|trans }}
                            <div class="grid-x grid-padding-x">
                                {% for child in element_set.children %}
                                    <div class="cell medium-3">
                                        <div class="element-thumbnails-element">
                                            <a href="{{ entity_path(child) }}">
                                                <div class="element-thumbnails-element__image border border type-{{ child.type.id }}-border" style="background-image: url('{{ child|thumbnail_src }}');"></div>
                                                <div class="element-thumbnails-element__legend">
                                                    {{ child.type|icon }}
                                                    {{ appellation(child) }}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
