<div>
    <strong>
        {{ set.type|icon }}
        {{ set }}
        {% for origin in set.origins %}
            {{ origin|icon }}
        {%- endfor -%}
    </strong>
</div>

<ul class="no-bullet">
    <li>
        {{ decorator(set).countSetElements|format_number }} {{ 'elements'|trans|lower }}
    </li>
</ul>
