{% extends 'base.html.twig' %}

{% block title %}
    <em class="mdi mdi-tag"></em> {{ appellation(keyword) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(keyword) }}
{% endblock %}

{% block content %}
    <div class="element-list-lead">
        <div class="grid-x grid-padding-x">
            {% if keyword.parents|length > 0 %}
                <div class="cell medium-3">
                    <div class="property">
                        {{ 'parents'|trans }}
                        <ul>
                            {% for child in keyword.parents %}
                                <li>{{ appellation_html(child) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if keyword.children|length > 0 %}
                <div class="cell medium-3">
                    <div class="property">
                        {{ 'children'|trans }}
                        <ul>
                            {% for child in keyword.children %}
                                <li>{{ appellation_html(child) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
