<form id="search-form" method="get" action="{{ path('element_element_search') }}">
    <div id="advanced-search">
        <ul id="advanced-search-objects">
            <li>
                <label title="{{ 'search.simple'|trans }}" class="chosen">
                    <em class="mdi mdi-magnify"></em>
                    <span class="hide">
                        <input type="radio" name="object" value="simple" checked>
                    </span>
                </label>
            </li>
            <li>
                <label title="{{ 'search.advanced'|trans }}">
                    <em class="mdi mdi-file-search"></em>
                    <span class="hide">
                        <input type="radio" name="object" value="advanced">
                    </span>
                </label>
            </li>
            <li>
                <label title="{{ 'companies'|trans }}">
                    <em class="mdi mdi-office-building"></em>
                    <span class="hide">
                        <input type="radio" name="object" value="company">
                    </span>
                </label>
            </li>
            <li>
                <label title="{{ 'people'|trans }}">
                    <em class="mdi mdi-account-multiple"></em>
                    <span class="hide">
                        <input type="radio" name="object" value="person">
                    </span>
                </label>
            </li>
            <li>
                <label title="{{ 'year'|trans }}">
                    <em class="mdi mdi-calendar-range"></em>
                    <span class="hide">
                        <input type="radio" name="object" value="year">
                    </span>
                </label>
            </li>
        </ul>
        <ul id="advanced-search-types">
            {% for type in app.types %}
                <li class="type-{{ type.id }}-background">
                    <label>
                        <img src="{{ asset(type.icon.url) }}" alt="{{ type }}">
                        <span class="hide">
                            <input type="checkbox" name="types[]" value="{{ type.id }}">
                        </span>
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a id="advanced-search-open">
        <em class="mdi mdi-feature-search"></em>
    </a>
    <input type="search" name="q" id="search-field" minlength="2">
    <button type="submit" id="search-valid">
        <em class="mdi mdi-magnify"></em>
    </button>
</form>
