<a><em class="mdi mdi-chart-bar"></em></a>
<ul class="menu vertical">
    <li>
        <a href="{{ path('statistic_global') }}">
            <em class="mdi mdi-chart-pie"></em>
            {{ 'statistic.global'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('statistic_universes') }}">
            <em class="mdi mdi-earth"></em>
            {{ 'universes'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('statistic_sets') }}">
            <em class="mdi mdi-tag-text-outline"></em>
            {{ 'sets'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('statistic_genres') }}">
            <em class="mdi mdi-sword"></em>
            {{ 'genres'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('statistic_origins') }}">
            <em class="mdi mdi-flag"></em>
            {{ 'origins'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('statistic_years') }}">
            <em class="mdi mdi-calendar-range"></em>
            {{ 'years'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('statistic_companies') }}">
            <em class="mdi mdi-office-building"></em>
            {{ 'companies'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('statistic_people') }}">
            <em class="mdi mdi-account-multiple"></em>
            {{ 'people'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('statistic_videogameplatforms') }}">
            <em class="mdi mdi-gamepad-variant"></em>
            {{ 'video_game.platforms'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('statistic_websources') }}">
            <em class="mdi mdi-web"></em>
            {{ 'web_sources'|trans }}
        </a>
    </li>
</ul>
