<a>
    <em class="mdi mdi-folder-table types-icon"></em>
</a>
<ul class="menu vertical">
    {% for appType in app.types %}
        <li class="type-{{ appType.id }}-border border">
            <a href="{{ entity_path(appType) }}"><img src="{{ asset(appType.icon.url) }}" alt="{{ appType }}"> {{ appType }}</a>
            <ul class="menu vertical">
                <li>
                    <a><em class="mdi mdi-sword"></em> {{ 'genres'|trans }}</a>
                    <ul class="menu vertical">
                        <li>
                            <div class="grid-x align-middle">
                                {% for genre in appType.genreParents %}
                                    <div class="cell medium-4">{{ appellation_html(genre) }}</div>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </li>

                {% if appType.canHavePlatforms %}
                    <li>
                        <a><em class="mdi mdi-desktop-classic"></em> {{ 'platforms'|trans }}</a>
                        <ul class="menu vertical">
                            <li>
                                <div class="menu-platforms">
                                    <div class="grid-x align-middle">
                                        {% for typePlatform in platforms_by_type(appType) %}
                                            <div class="cell small-4 medium-2">
                                                <a href="{{ path('element_element_listbytypeandplatform', { platform: typePlatform.slug, type: appType.slug }) }}">
                                                    {{ typePlatform|icon }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('user_element_add') %}
                    <li>
                        <a><em class="mdi mdi-disc"></em> {{ 'supports'|trans }}</a>
                        <ul class="menu vertical">
                            <li>
                                <div class="grid-x align-middle">
                                    {% for typeSupport in appType.supports %}
                                        <div class="cell medium-4">
                                            <a href="{{ path('element_element_listbytypeandsupport', { support: typeSupport.slug, type: appType.slug }) }}">
                                                {{ typeSupport|icon }} {{ appellation(typeSupport) }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><em class="mdi mdi-disc"></em> {{ 'storages'|trans }}</a>
                        <ul class="menu vertical">
                            <li>
                                <div class="grid-x align-middle">
                                    {% for element_storage in app.user.storages %}
                                        <div class="cell medium-4">
                                            <a href="{{ path('element_element_listbytypeandelementstorage', { type: appType.slug, elementStorage: element_storage.id }) }}">
                                                {{ appellation(element_storage) }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if appType.specialSets is not empty or appType.id == constant('App\\Entity\\Type::VIDEO') %}
                    <li class="separator"></li>
                    {% if appType.id == constant('App\\Entity\\Type::VIDEO') %}
                        <li>
                            <a><em class="mdi mdi-movie"></em> {{ 'video.types'|trans }}</a>
                            <ul class="menu vertical">
                                {% for video_type_id, video_type_label in constant('App\\Enum\\VideoTypeEnum::VALUES') %}
                                    {% if video_type_id == constant('App\\Enum\\VideoTypeEnum::TELEVISION_SERIES') %}
                                        <li>
                                            <a href="{{ path('element_element_type_video_videotype', { videoType: constant('App\\Enum\\VideoTypeEnum::NON_ANIMATED_TELEVISION_SERIES') }) }}">
                                                {{ 'video.type.non_animated_television_series'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('element_element_type_video_videotype', { videoType: constant('App\\Enum\\VideoTypeEnum::ANIMATED_SERIES') }) }}">
                                                {{ 'video.type.animated_series'|trans }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('element_element_type_video_videotype', { videoType: video_type_id }) }}">
                                                {{ video_type_label|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    <a href="{{ path('element_element_type_video_videotype', { videoType: constant('App\\Enum\\VideoTypeEnum::SHORT_FILM') }) }}">
                                        {{ 'video.type.short_film'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if appType.specialSets is not empty %}
                        <li>
                            <a><em class="mdi mdi-movie-open"></em> {{ 'special_sets'|trans }}</a>
                            <ul class="menu vertical">
                                {% for special_set in appType.specialSets %}
                                    <li>
                                        {{ appellation_html(special_set) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if appType.id == constant('App\\Entity\\Type::VIDEO') %}
                        <li>
                            <a href="{{ path('element_custom_blackandwhitevideos') }}">
                                <em class="mdi mdi-invert-colors"></em>
                                {{ 'color.black_and_white'|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                <li class="separator"></li>
                <li>
                    <a href="{{ path('element_element_lastaddingsbytype', { type: appType.slug }) }}">
                        <em class="mdi mdi-folder-plus"></em>
                        {{ 'last_addings'|trans }}
                    </a>
                </li>
                {% if is_granted('element_add') %}
                    <li>
                        <a href="{{ path('element_element_add', {type: appType.id}) }}">
                            <em class="mdi mdi-plus"></em> {{ 'add'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endfor %}
    <li class="separator"></li>
    <li>
        <a href="{{ path('element_element_lastaddings') }}">
            <em class="mdi mdi-folder-plus"></em>
            {{ 'last_addings'|trans }}
        </a>
    </li>
</ul>
