{% extends 'base.html.twig' %}

{% block title %}
    {{ type|icon }} {{ appellation(type) }} : {{ 'color.black_and_white'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(type) }}
{% endblock %}

{% block content %}
    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
