{% extends 'base.html.twig' %}

{% block title %}
    Les fourmis rouges
    {% if year is defined %}
        <small>{{ year }}</small>
    {% endif %}
{% endblock %}

{% block actions %}
    {% spaceless %}
        {% if year is defined %}
            {% if year - 1 in years %}
                <a href="{{ path('element_custom_fourmisrouges', { year: year - 1 }) }}" class="button primary" title="{{ year - 1 }}">
                    <em class="mdi mdi-arrow-left-bold"></em>
                </a>
            {% endif %}
            {% if year + 1 in years %}
                <a href="{{ path('element_custom_fourmisrouges', { year: year + 1 }) }}" class="button primary" title="{{ year + 1 }}">
                    <em class="mdi mdi-arrow-right-bold"></em>
                </a>
            {% endif %}
        {% endif %}

        <a href="{{ path('element_custom_fourmisrougesoublies') }}" class="button primary" title="Les oubliés"><em class="mdi mdi-file-question"></em></a>
    {% endspaceless %}
{% endblock %}

{% block breadcrumbs %}
    {% if year is defined %}
        {{ lyssal_breadcrumb(year, '<a href="' ~ path('element_custom_fourmisrouges') ~ '">Les fourmis rouges</a>', type) }}
    {% else %}
        {{ lyssal_breadcrumb('Les fourmis rouges', type) }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if elements is defined %}
        <div class="grid-x">
            {% for element in elements %}
                <div class="cell medium-6 xlarge-4">
                    {{ include('_sections/element/list_item.html.twig') }}
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endif %}

    <div class="grid-x grid-padding-x text-center">
        {% for year in years %}
            <div class="cell small-4 medium-2 large-1 lead" style="padding-bottom: 1rem;padding-top: 1rem;">
                <a href="{{ path('element_custom_fourmisrouges', { year: year }) }}">
                    {{ year }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
