{% extends 'base.html.twig' %}

{% block title %}
    Les fourmis rouges : Les oubliés
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('Les oubliés', '<a href="' ~ path('element_custom_fourmisrouges') ~ '">Les fourmis rouges</a>', type) }}
{% endblock %}

{% block content %}
    <div class="grid-x">
        {% for element in elements %}
            <div class="cell medium-6 xlarge-4">
                {{ include('_sections/element/list_item.html.twig') }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
