.element {
    margin: 0 0 20px 0;
}

{% if file_type == 'html' %}
.element-body {
    padding: 5px;
}
{% endif %}

.property {
    margin: 0 0 10px 0;
}

.property-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 2px 0;
}

.property p {
    margin: 0 0 10px 0;
}

.property ul {
    margin: 0 0 10px 0;
    padding: 0;
}

.property ul li {
    display: inline;
    margin: 0 20px 0 0;
}
