.summary {
    font-size: 15px;
}

.summary ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.summary ul ul {
    margin: 0 0 0 20px;
}

.summary > ul > li {
    margin: 0 0 10px 0;
    {% if file_type == 'pdf' %}
        float: left;
        width: 33.3%;
    {% endif %}
}

.summary > ul > li:nth-child(3n+1) {
    clear: left;
}

.summary > ul > li > a {
    font-size: 17px;
    font-weight: bold;
}
