{% extends 'base.html.twig' %}

{% block title %}
    <em class="mdi mdi-tag-heart"></em> {{ 'my_sets'|trans }}
    {%- if type is defined %} : {{ type|icon }} {{ type }}{% endif -%}
{% endblock %}

{% block breadcrumbs %}
    {%- if type is defined -%}
        {{ lyssal_breadcrumb(type, '<a href="'~path('user_userset_list')~'">'~'my_sets'|trans~'</a>') }}
    {%- else -%}
        {{ lyssal_breadcrumb('my_sets'|trans) }}
    {%- endif -%}
{% endblock %}

{% block actions %}
    {% apply spaceless %}
        {% for appType in app.types %}
            <a href="{{ path('user_userset_list', { type: appType.slug }) }}" class="button type-{{ appType.id }}-background">
                <img src="{{ asset(appType.icon.url) }}" alt="{{ appType }}" title="{{ appType }}" width="16" height="16">
            </a>
        {% endfor %}
    {% endapply %}
{% endblock %}

{% block content %}
    <div class="element" id="user-sets">
        <div class="grid-x grid-padding-x grid-padding-y">
            {%- for user_set in user_sets -%}
                <div class="cell small-6 medium-4 large-3 xlarge-2">
                    <a class="type-{{ user_set.type.id }}-color" data-user-set-target="{{ user_set.id }}">
                        {{- user_set.type|icon }}
                        <strong>{{ user_set -}}</strong>
                    </a>
                </div>
            {%- endfor -%}
        </div>

        {% for user_set in user_sets -%}
            <div data-user-set="{{ user_set.id }}" class="panel element-list-element type-{{ user_set.type.id }}-border" style="display: none;">
                <h2>{{ user_set }}</h2>

                <div class="element-thumbnails">
                    <div class="grid-x grid-padding-x">
                        {%- for element_id in user_set.elementIds -%}
                            {% set element = elements_by_id[element_id] -%}

                            <div class="cell small-6 medium-3 large-2 xlarge-1">
                                <div class="element-thumbnails-element">
                                    <a href="{{ entity_path(element) }}">
                                        <div class="element-thumbnails-element__image border border type-{{ element.type.id }}-border" style="background-image: url('{{ element|thumbnail_src }}');"></div>
                                        <div class="element-thumbnails-element__legend" style="font-size: 0.8rem;">
                                            {{- element.type|icon }}
                                            {{- appellation(element) -}}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
{% endblock %}
