<header>
    <div id="menu" data-sticky-container>
        <div class="top-bar type-border" data-sticky data-options="marginTop:0;">
            <div class="top-bar-left show-for-large">
                <ul class="menu">
                    <li class="menu-text">
                        <a href="{{ path('type_index') }}">Collecto<span>Lys</span></a>
                    </li>
                </ul>
            </div>

            {% if app.user is not null %}
                <div class="top-bar-right">
                    <ul class="menu" id="menu-search">
                        <li>
                            {{ include('_sections/menu/search.html.twig') }}
                        </li>
                    </ul>
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            {{ include('_sections/menu/types.html.twig') }}
                        </li>
                        <li class="show-for-medium">
                            {{ include('_sections/menu/statistics.html.twig') }}
                        </li>
                        {% if app.user.isAdmin %}
                            <li class="show-for-medium">
                                <a><em class="mdi mdi-cogs"></em></a>
                                <ul class="menu vertical">
                                    <li>
                                        <a href="{{ path('app_admin_dashboard_index') }}" data-ajax="false">
                                            <em class="mdi mdi-cog"></em>
                                            {{ 'administration'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('element_element_import') }}">
                                            <em class="mdi mdi-file-import"></em>
                                            {{ 'to_import'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <li>
                            <a><em class="mdi mdi-account"></em></a>
                            <ul class="menu vertical">
                                {% if app.user.isAdmin %}
                                    <li>
                                        <a><em class="mdi mdi-harddisk"></em> {{ 'storages'|trans }}</a>
                                        <ul class="menu vertical">
                                            <li>
                                                <div class="grid-x align-middle">
                                                    {% for element_storage in app.user.storages %}
                                                        <div class="cell medium-4">
                                                            <a href="{{ path('user_elementstorage_show', { elementStorage: element_storage.id }) }}">
                                                                {{ appellation(element_storage) }}
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{ path('user_document_list') }}">
                                            <em class="mdi mdi-file-document"></em>
                                            {{ 'documents'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a><em class="mdi mdi-cursor-pointer"></em> {{ 'uses'|trans }}</a>
                                        <ul class="menu vertical">
                                            <li>
                                                <a href="{{ path('user_userelement_lastuses') }}">
                                                    <em class="mdi mdi-gesture-tap"></em>
                                                    {{ 'last_uses'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('user_userelement_origins') }}" data-ajax="false">
                                                    <em class="mdi mdi-flag"></em> {{ 'origins'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{ path('user_userelement_wishlist') }}" data-ajax="false">
                                            <em class="mdi mdi-tag-heart"></em> {{ 'wish.my_list'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('user_userset_list') }}" data-ajax="false">
                                            <em class="mdi mdi-invoice-list"></em> {{ 'my_sets'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a><em class="mdi mdi-file-download"></em> {{ 'download'|trans }}</a>
                                        <ul class="menu vertical">
                                            <li>
                                                <a href="{{ path('filegeneration_html') }}" data-ajax="false">
                                                    <em class="mdi mdi-file-document"></em> HTML
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('filegeneration_pdf') }}" data-ajax="false">
                                                    <em class="mdi mdi-file-pdf"></em> PDF
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{ path('element_custom_fourmisrouges') }}">
                                            <img src="{{ asset('images/icons/fourmi-rouge.svg') }}" alt="Fourmis rouges">
                                            Les fourmis rouges
                                        </a>
                                    </li>
                                    <li class="separator"></li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('app_security_logout') }}">
                                        <em class="mdi mdi-logout"></em>
                                        {{ 'to_disconnect'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</header>
