<script type="text/javascript">
    if (document.title === "") {
        window.location.reload();
    }
</script>

<div data-type="{{ type is defined ? type.id : '' }}">
    <div class="page-header">
        {% block breadcrumbs %}{% endblock %}
        <div class="clearfix"></div>
        {% if block('actions') is not empty %}
            <div class="page-actions">
                {% block actions %}{% endblock %}
            </div>
        {% endif %}
        {% if block('title') is not empty %}
            <h1>{% block title %}{% endblock %}</h1>
        {% endif %}
        {% if block('subtitles') is not empty %}
            <div class="h1-subtitles">{% block subtitles %}{% endblock %}</div>
        {% endif %}
        {% include '@LyssalTwig/MessagesFlash/foundation_6_translated.html.twig' %}
    </div>
    <div class="page-content">
        {% block content %}{% endblock %}
    </div>
</div>
