{% extends 'base.html.twig' %}

{% block title %}
    <em class="mdi mdi-account"></em> {{ appellation(person) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(person) }}
{% endblock %}

{% block content %}
    <div class="element-list-lead">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-3">
                {% if person.image is not null %}
                    <div class="element-list-lead__image">
                        {{ person|image }}
                    </div>
                {% endif %}
            </div>
            <div class="cell medium-9">
                <div class="grid-x grid-padding-x">
                    {% if person.nationalities|length > 0 %}
                        <div class="cell medium-4">
                            <div class="property">
                                {{ 'nationality'|trans }}
                                <ul>
                                    {% for nationality in person.nationalities %}
                                        <li>{{ appellation_html(nationality) }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
