<div>
    <strong>
        <em class="mdi mdi-account"></em>
        {{ person }}
        {% for nationality in person.nationalities %}
            {{ nationality|icon }}
        {%- endfor -%}
    </strong>
</div>

<ul class="no-bullet">
    {%- for person_role in person_roles -%}
        <li>
            {{- person_role[0].type|icon }} {{ person_role[0] }} ({{ person_role['count'] }})
        </li>
    {%- endfor -%}
</ul>
