{% extends 'base.html.twig' %}

{% block title %}
    <em class="mdi mdi-office-building"></em> {{ appellation(company) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(company) }}
{% endblock %}

{% block content %}
    <div class="element-list-lead">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-3">
                {% if company.image is not null %}
                    <div class="element-list-lead__image">
                        {{ company|image }}
                    </div>
                {% endif %}
            </div>
            <div class="cell medium-9">
                <div class="grid-x grid-padding-x">
                    {% if company.foundedAt is not null %}
                        <div class="cell medium-4">
                            <div class="property">
                                {{ 'founded_date'|trans }}
                                <p>
                                    {{ company.foundedAt|date('d/m/Y') }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if company.headquarter is not null %}
                        <div class="cell medium-4">
                            <div class="property">
                                {{ 'headquarter'|trans }}
                                <p>
                                    {{ appellation_html(company.headquarter) }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if company.subsidiaries|length > 0 %}
                        <div class="cell medium-4">
                            <div class="property">
                                {{ ('subsidiar'~(company.subsidiaries|length > 1 ? 'ies' : 'y'))|trans }}
                                <ul>
                                    {% for subsidiary in company.subsidiaries %}
                                        <li>{{ appellation_html(subsidiary) }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if company.previousCompany is not null %}
                        <div class="cell medium-4">
                            <div class="property">
                                {{ 'company.previous'|trans }}
                                <p>
                                    {{ appellation_html(company.previousCompany) }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if company.nextCompany is not null %}
                        <div class="cell medium-4">
                            <div class="property">
                                {{ 'company.next'|trans }}
                                <p>
                                    {{ appellation_html(company.nextCompany) }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if company.nationality is not null %}
                        <div class="cell medium-4">
                            <div class="property">
                                {{ 'nationality'|trans }}
                                <p>
                                    {{ company.nationality|icon }}
                                    {{ company.nationality }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
