<div>
    <strong>
        <em class="mdi mdi-domain"></em>
        {{ company }}
        {% if company.nationality is not null %}
            {{ company.nationality|icon }}
        {%- endif -%}
    </strong>
</div>

<ul class="no-bullet">
    {%- for company_role in company_roles -%}
        <li>
            {{- company_role[0].type|icon }} {{ company_role[0] }} ({{ company_role['count'] }})
        </li>
    {%- endfor -%}
</ul>
