<!DOCTYPE html>
{% spaceless %}
    <html lang="{{ app.request.locale }}">
        <head>
            <meta charset="UTF-8">
            <title>{% if block('title') is not empty %}{{ block('title')|striptags|raw_secure }} - {% endif %}CollectoLys</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">
            {%- block stylesheets -%}
                {{ encore_entry_link_tags('app') -}}
                <link rel="stylesheet" type="text/css" href="{{ path('config_stylesheet') }}">
            {%- endblock -%}
        </head>
        <body data-type="{{ type is defined ? type.id : '' }}">
            {{ include('_sections/header.html.twig') }}
            {% block body %}
                <div class="page" id="page">
                    {% block page %}
                        <div class="page-header">
                            {% block breadcrumbs %}{% endblock %}
                            <div class="clearfix"></div>
                            {% if block('actions') is not empty %}
                                <div class="page-actions">
                                    {% block actions %}{% endblock %}
                                </div>
                            {% endif %}
                            {% if block('title') is not empty %}
                                <h1>{% block title %}{% endblock %}</h1>
                            {% endif %}
                            {% if block('subtitles') is not empty %}
                                <div class="h1-subtitles">{% block subtitles %}{% endblock %}</div>
                            {% endif %}
                            {% include '@LyssalTwig/MessagesFlash/foundation_6_translated.html.twig' %}
                        </div>
                        <div class="page-content">
                            {% block content %}{% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
            {{ include('_sections/footer.html.twig') }}
            {% block javascripts %}
                <script>
                    const App = {locale: '{{ app.request.locale }}'};
                </script>
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </body>
    </html>
{% endspaceless %}
