{% if form.duration is defined %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {{ form_row(form.duration) }}
        </div>
        {% if form.color is defined %}
            <div class="cell medium-6">
                {{ form_row(form.color) }}
            </div>
        {% endif %}
    </div>
{% endif %}

{% if form.pageCount is defined %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {{ form_row(form.pageCount) }}
        </div>
        {% if form.isbn is defined %}
            <div class="cell medium-6">
                {{ form_row(form.isbn) }}
            </div>
        {% endif %}
    </div>
{% endif %}

{% if form.multiplayer is defined %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {{ form_row(form.multiplayer) }}
        </div>
        <div class="cell medium-6">
            {{ form_row(form.maxPlayerCount) }}
        </div>
    </div>
{% endif %}

{% if form.minAge is defined %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3">
            {{ form_row(form.minAge) }}
        </div>
        <div class="cell medium-3">
            {{ form_row(form.maxAge) }}
        </div>
    </div>
{% endif %}

{{ form_row(form.dates) }}
{{ form_row(form.companies) }}
{{ form_row(form.people) }}
{{ form_row(form.prices) }}
