{% if form.videoType is defined %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
            {{ form_row(form.videoType) }}
        </div>
    </div>
{% endif %}

<fieldset>
    <div class="grid-x grid-padding-x">

        <div class="cell small-6">
            {{ form_row(form.elementSet) }}
        </div>
        <div class="cell medium-3">
            {{ form_row(form.numberInSet) }}
        </div>
        <div class="cell medium-3">
            {{ form_row(form.positionInSet) }}
        </div>
        <div class="cell medium-6">
        </div>
        <div class="cell medium-6">
            {{ form_row(form.setSpecialIssue) }}
        </div>
    </div>

    <hr>

    <div class="grid-x grid-padding-x">
        <div class="cell medium-3">
            {{ form_row(form.set, { attr: { 'data-toggler': '[data-field="set"]' } }) }}
        </div>
        <div class="cell medium-3" data-field="set"{% if not element.set %} style="display: none;"{% endif %}>
            {{ form_row(form.setAggregated) }}
        </div>
        <div class="cell medium-3" data-field="set"{% if not element.set %} style="display: none;"{% endif %}>
            {{ form_row(form.setDisplayInElementTitle) }}
        </div>
        <div class="cell medium-3" data-field="set"{% if not element.set %} style="display: none;"{% endif %}>
            {{ form_row(form.setElementName) }}
        </div>
    </div>
</fieldset>

<div class="grid-x grid-padding-x">
    <div class="cell medium-6">
        {{ form_row(form.genres) }}
    </div>
    <div class="cell medium-6">
        {{ form_row(form.universes) }}
    </div>
</div>

{{ form_row(form.keywords) }}

{% if form.platforms is defined %}
    {{ form_row(form.platforms) }}
{% endif %}

{{ form_row(form.parents) }}
{{ form_row(form.children) }}
{{ form_row(form.references) }}

<div class="grid-x grid-padding-x">
    <div class="cell medium-6">
        {{ form_row(form.previousElement) }}
    </div>
    <div class="cell medium-6"></div>
    <div class="cell small-12">
        {{ form_row(form.similarElements) }}
    </div>
</div>
