<div class="grid-x grid-padding-x">
    <div class="cell medium-6">
        {{ form_row(form.preparationTime) }}
    </div>
    <div class="cell medium-6">
        {{ form_row(form.personCount) }}
    </div>
</div>

{{ form_row(form.ingredients) }}
{{ form_row(form.content) }}
