{% extends 'base.html.twig' %}

{% block title %}
    {% if document.id is not null %}
        {{ appellation(document) }} <small>{{ 'edit'|trans }}</small>
    {% else %}
        {{ 'documents'|trans }} <small>{{ 'add'|trans }}</small>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if document.id is not null %}
        {{ lyssal_breadcrumb('edit'|trans, document, '<a href="' ~ path('user_document_list') ~ '">' ~ 'documents'|trans ~ '</a>') }}
    {% else %}
        {{ lyssal_breadcrumb('add'|trans, '<a href="' ~ path('user_document_list') ~ '">' ~ 'documents'|trans ~ '</a>') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="callout">
                {{ form_start(form) }}
                    {{ form_rest(form) }}

                    <div class="form-actions">
                        <button type="submit" class="button success">
                            <em class="mdi mdi-content-save"></em> {{ 'save'|trans }}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
