{% extends 'base.html.twig' %}

{% block title %}
    {{ 'documents'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('documents'|trans) }}
{% endblock %}

{% block actions %}
    {% if is_granted('document_add') %}
        <a href="{{ path('user_document_add') }}" class="button success">
            <em class="mdi mdi-plus"></em>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        {% for document in documents %}
            <div class="cell medium-6">
                <a href="{{ path('user_document_show', { document: document.id }) }}">
                    <div class="callout">
                        <p class="lead">
                            <em class="mdi mdi-file-document"></em> {{ appellation(document) }}
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
