{% extends 'base.html.twig' %}

{% block title %}
    {{ appellation(document) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(document, '<a href="' ~ path('user_document_list') ~ '">' ~ 'documents'|trans ~ '</a>') }}
{% endblock %}

{% block actions %}
    {% if is_granted('document_edit', document) %}
        <a href="{{ path('user_document_edit', { document: document.id }) }}" class="button success">
            <em class="mdi mdi-file-document-edit"></em>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="callout">
                {{ document.content|raw_secure }}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
