{% extends 'base.html.twig' %}

{% block title %}
    {% if element.id is not null %}
        {{ appellation(element) }} <small>{{ 'edit'|trans }}</small>
    {% else %}
        {{ type|icon }}
        {{ type.elementName }} <small>{{ 'add'|trans }}</small>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if element.id is not null %}
        {{ lyssal_breadcrumb('edit'|trans, element) }}
    {% else %}
        {{ lyssal_breadcrumb('add'|trans, type) }}
    {% endif %}
{% endblock %}

{% block content %}
    {% spaceless %}
        <div class="element">
            {{ form_start(form) }}
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-4 xlarge-3">
                        <div class="element__cover">
                            {{ form_row(form.illustrationRecto) }}
                        </div>
                        <div class="element__cover">
                            {{ form_row(form.illustrationVerso) }}
                        </div>
                    </div>
                    <div class="cell medium-8 xlarge-9">
                        {{ form_errors(form) }}
                        <ul class="tabs type-{{ type.id }}-border" data-tabs id="element-tabs">
                            <li class="tabs-title is-active"><a href="#element-tab-identity" data-ajax="false">{{ 'identity'|trans }}</a></li>
                            <li class="tabs-title"><a href="#element-tab-family" data-ajax="false">{{ 'family'|trans }}</a></li>
                            {% if element.isCookingRecipe %}
                                <li class="tabs-title"><a href="#element-tab-recipe" data-ajax="false">{{ 'recipe'|trans }}</a></li>
                            {% endif %}
                            <li class="tabs-title"><a href="#element-tab-description" data-ajax="false">{{ 'content'|trans }}</a></li>
                            <li class="tabs-title"><a href="#element-tab-caracteristics" data-ajax="false">{{ 'caracteristics'|trans }}</a></li>
                            {% if element.isVideoGame %}
                                <li class="tabs-title"><a href="#element-tab-cheating" data-ajax="false">{{ 'cheating'|trans }}</a></li>
                            {% endif %}
                            <li class="tabs-title"><a href="#element-tab-illustrations" data-ajax="false">{{ 'illustrations'|trans }}</a></li>
                        </ul>

                        <div class="tabs-content" data-tabs-content="element-tabs">
                            <div class="tabs-panel is-active" id="element-tab-identity">
                                {{ include('element/element/_sections/edit/identity.html.twig') }}
                            </div>
                            <div class="tabs-panel" id="element-tab-family">
                                {{ include('element/element/_sections/edit/family.html.twig') }}
                            </div>
                            {% if element.isCookingRecipe %}
                                <div class="tabs-panel" id="element-tab-recipe">
                                    {{ include('element/element/_sections/edit/recipe.html.twig') }}
                                </div>
                            {% endif %}
                            <div class="tabs-panel" id="element-tab-description">
                                {{ include('element/element/_sections/edit/description.html.twig') }}
                            </div>
                            <div class="tabs-panel" id="element-tab-caracteristics">
                                {{ include('element/element/_sections/edit/caracteristics.html.twig') }}
                            </div>
                            {% if element.isVideoGame %}
                                <div class="tabs-panel" id="element-tab-cheating">
                                    {{ include('element/element/_sections/edit/cheating.html.twig') }}
                                </div>
                            {% endif %}
                            <div class="tabs-panel" id="element-tab-illustrations">
                                {{ include('element/element/_sections/edit/illustrations.html.twig') }}
                            </div>
                        </div>

                        <div class="form-actions">
                            {% set cancel_path = element.id is not null
                                ? path('element_element_show', {element: element.id, slug: element.slug})
                                : path('type_show', {type: type.slug}) %}
                            <a href="{{ cancel_path }}" class="button secondary">
                                <em class="mdi mdi-cancel"></em> {{ 'cancel'|trans }}
                            </a>
                            <button type="submit" class="button success">
                                <em class="mdi mdi-content-save"></em> {{ 'save'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    {% endspaceless %}
{% endblock %}
