{% extends 'base.html.twig' %}

{% block title %}
    {{ 'to_import'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('to_import'|trans) }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <div class="callout">
                <div class="grid-x grid-padding-x align-center">
                    <div class="cell medium-6">
                        {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <div class="form-actions">
                            <button type="submit" class="button success"><em class="mdi mdi-file-import"></em> {{ 'to_import'|trans }}</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
