{% extends 'base.html.twig' %}

{% block title %}
    {{ 'last_addings'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('last_addings'|trans) }}
{% endblock %}

{% block content %}
    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
