{% extends 'base.html.twig' %}

{% block title %}
    {{ type|icon }} {{ appellation(type) }} : {{ platform|icon }} {{ appellation(platform) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(platform, type) }}
{% endblock %}

{% block content %}
    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
