{% extends 'base.html.twig' %}

{% block title %}
    {{ type|icon }} {{ appellation(type) }} : {{ 'year'|trans }} {{ year }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(('year'|trans)~' '~year, type) }}
{% endblock %}

{% block content %}
    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
