{% extends 'base.html.twig' %}

{% block title %}
    {{ type|icon }} {{ appellation(type) }} : {{ support|icon }} {{ appellation(support) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(support, type) }}
{% endblock %}

{% block content %}
    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
