{% extends 'base.html.twig' %}

{% block title %}
    {{ type|icon }} {{ appellation(type) }} : {{ origin|icon }} {{ appellation(origin) }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(origin, type) }}
{% endblock %}

{% block content %}
    <div class="element-list-lead">
        <div class="grid-x grid-padding-x">
            {% if origin.parents is not empty %}
                <div class="cell medium-6">
                    <div class="property">
                        {{ ('parent'~(origin.parents|length > 1 ? 's' : ''))|trans }}
                        <ul>
                            {% for parent in origin.parents %}
                                <li>{{ parent|icon }} {{ appellation_html(parent) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if origin.children is not empty %}
                <div class="cell medium-6">
                    <div class="property">
                        {{ ('child'~(origin.children|length > 1 ? 'ren' : ''))|trans }}
                        <ul>
                            {% for child in origin.children %}
                                <li>{{ appellation_html(child) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
