{% extends 'base.html.twig' %}

{% if search_object == 'advanced' %}
    {% set title = 'search.advanced'|trans %}
{% elseif search_object == 'company' %}
    {% set title = 'search'|trans ~ ' ' ~ 'companies'|trans|lower %}
{% elseif search_object == 'person' %}
    {% set title = 'search'|trans ~ ' ' ~ 'people'|trans|lower %}
{% elseif search_object == 'year' %}
    {% set title = 'search'|trans ~ ' ' ~ 'year'|trans|lower %}
{% else %}
    {% set title = 'search.simple'|trans %}
{% endif %}

{% block title %}
    {{ title }} <small>{{ search_query }}</small>
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(search_query, title, 'search'|trans) }}
{% endblock %}

{% block content %}
    {% if companies is defined %}
        <div class="grid-x grid-padding-x">
            <div class="cell small-12">
                <div class="property">
                    {{ 'companies'|trans }}
                </div>
                <div class="grid-x grid-padding-x">
                    {% for company in companies %}
                        <div class="cell medium-4 large-3 xlarge-2">
                            {{ appellation_html(company) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if people is defined %}
        <div class="grid-x grid-padding-x">
            <div class="cell small-12">
                <div class="property">
                    {{ 'people'|trans }}
                </div>
                <div class="grid-x grid-padding-x">
                    {% for person in people %}
                        <div class="cell medium-4 large-3 xlarge-2">
                            {{ appellation_html(person) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
