{% extends 'base.html.twig' %}

{% block title %}
    {{- element -}}

    {% set subname = element.getFirstSubname() %}

    {%- if subname is not null -%}
        <small> - {{ subname }}</small>
    {%- endif -%}
{% endblock %}

{% block subtitles -%}
    {% apply spaceless %}
        {% if element.names|length > 1 %}
            <ul>
                {% for element_name in element.names %}
                    {% if not loop.first %}
                        <li>
                            {%- if element_name.language is not null %}
                                {{ element_name.language|icon }}
                            {% endif %}

                            {{ element_name }}

                            {%- if element_name.subname is not null -%}
                                <small> - {{ element_name.subname }}</small>
                            {%- endif -%}

                            {% if element_name.precisions is not empty -%}
                                <small> ({{ element_name.precisions }})</small>
                            {%- endif -%}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endapply %}
{%- endblock %}

{% block actions %}
    {% apply spaceless %}
        {% set previous_element = element.previous %}
        {% set next_element = element.next %}

        {% if element.set %}
            <a href="{{ entity_path(element) }}" class="button primary">
                <em class="mdi mdi-folder-table"></em>
            </a>
        {% endif %}

        {% if previous_element is not null %}
            <a href="{{ entity_path(previous_element) }}" class="button primary" title="{{ appellation(previous_element) }}">
                <em class="mdi mdi-arrow-left-thick"></em>
            </a>
        {% endif %}
        {% if next_element is not null %}
            <a href="{{ entity_path(next_element) }}" class="button primary" title="{{ appellation(next_element) }}">
                <em class="mdi mdi-arrow-right-thick"></em>
            </a>
        {% endif %}
        {% if is_granted('element_edit', element) %}
            <a href="{{ path('element_element_edit', {element: element.id}) }}" class="button success">
                <em class="mdi mdi-file-document-edit"></em>
            </a>
        {% endif %}
        {% if is_granted('element_delete', element) %}
            <form method="post" action="{{ path('element_element_remove', { element: element.id }) }}">
                <button type="submit" class="button alert" onclick="return confirm('{{ 'message.action.confirm'|trans }}');" data-ajax="false"><em class="mdi mdi-delete"></em></button>
            </form>
        {% endif %}
    {% endapply %}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(element) }}
{% endblock %}

{% block content %}
    {% set universes = element.universes %}
    {% set genres = element.genres %}
    {% set origins = element.origins %}
    {% set similars = element.similars %}
    {% set see_also_elements = element.seeAlsoByType %}

    {% set display_age = (element.isVideo or element.isVideoGame or element.isBook or element.isPeriodical) and (element.minAge is not null or element.maxAge is not null) %}

    {% set display_family = element.set is not null
        or element.parents|length > 0
        or element.children|length > 0
        or element.references|length > 0
        or element.previousElement is not null
        or element.nextElements is not empty
        or similars is not empty
        or genres|length > 0
        or universes|length > 0
        or element.keywords|length > 0
        or element.hasPlatform %}
    {% set display_description = (element.content is not null and not element.isCookingRecipe)
        or element.subElements|length > 0 %}
    {% set display_caracteristics = element.dates|length > 0
        or element.companies|length > 0
        or element.people|length > 0
        or element.prices|length > 0
        or (element.isAudio and element.duration is not null)
        or (element.isVideo and (element.duration is not null or element.color is not null))
        or ((element.isBook or element.isPeriodical) and element.pageCount is not null)
        or (element.isVideoGame and (element.multiplayer|length > 0 or element.maxPlayerCount is not null))
        or display_age %}
    {% set display_cheating = (element.isVideoGame and element.cheating is not null) %}
    {% set display_recipe = element.isCookingRecipe
        and (
            element.content is not null
            or element.preparationTime is not null
            or element.personCount is not null
            or element.ingredients is not null
        ) %}

    <div class="element">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-4 xlarge-3">
                {% if element.illustrationRecto is not null %}
                    {% set image_src = asset(element.illustrationRecto.url) %}
                    <div class="element__cover">
                        <a href="{{ image_src }}" class="lightbox" data-ajax="false">
                            <img src="{{ image_src }}" alt="{{ appellation(element) }}">
                        </a>
                    </div>
                {% endif %}
                {% if element.illustrationVerso is not null %}
                    {% set image_src = asset(element.illustrationVerso.url) %}
                    <div class="element__cover">
                        <a href="{{ image_src }}" class="lightbox" data-ajax="false">
                            <img src="{{ image_src }}" alt="{{ appellation(element) }}">
                        </a>
                    </div>
                {% endif %}

                {{ include('element/element/_sections/see_also.html.twig') }}
            </div>
            <div class="cell medium-8 xlarge-9">
                {% if user_element is not null and (user_element.note is not null or user_element.wish) %}
                    <div class="element-note type-{{ user_element.element.type.id }}-color">
                        {% if user_element.note is not null %}
                            <em class="mdi mdi-star{{ user_element.note < 1 ? '-outline' : user_element.note < 2 ? '-half' : '' }}"></em>
                            <em class="mdi mdi-star{{ user_element.note < 3 ? '-outline' : user_element.note < 4 ? '-half' : '' }}"></em>
                            <em class="mdi mdi-star{{ user_element.note < 5 ? '-outline' : user_element.note < 6 ? '-half' : '' }}"></em>
                            <em class="mdi mdi-star{{ user_element.note < 7 ? '-outline' : user_element.note < 8 ? '-half' : '' }}"></em>
                            <em class="mdi mdi-star{{ user_element.note < 9 ? '-outline' : user_element.note < 10 ? '-half' : '' }}"></em>
                        {% endif %}

                        {% if user_element.wish %}
                            &nbsp; <a href="{{ path('user_userelement_wishlist') }}" title="{{ 'wish.in_my_list'|trans }}" data-ajax="false">
                                <em class="mdi mdi-tag-heart"></em>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                <ul class="tabs type-{{ type.id }}-border" data-tabs id="element-tabs">
                    <li class="tabs-title is-active"><a href="#element-tab-synthesis" data-ajax="false" aria-selected="true">{{ 'synthesis'|trans }}</a></li>
                    <li class="tabs-title"><a href="#element-tab-identity" data-ajax="false">{{ 'identity'|trans }}</a></li>
                    {% if display_family %}
                        <li class="tabs-title"><a href="#element-tab-family" data-ajax="false">{{ 'family'|trans }}</a></li>
                    {% endif %}
                    {% if display_recipe %}
                        <li class="tabs-title"><a href="#element-tab-recipe" data-ajax="false">{{ 'recipe'|trans }}</a></li>
                    {% endif %}
                    {% if display_description %}
                        <li class="tabs-title"><a href="#element-tab-description" data-ajax="false">{{ 'content'|trans }}</a></li>
                    {% endif %}
                    {% if display_caracteristics %}
                        <li class="tabs-title"><a href="#element-tab-caracteristics" data-ajax="false">{{ 'caracteristics'|trans }}</a></li>
                    {% endif %}
                    {% if display_cheating %}
                        <li class="tabs-title"><a href="#element-tab-cheating" data-ajax="false">{{ 'cheating'|trans }}</a></li>
                    {% endif %}
                    {% if element.illustrations|length > 0 %}
                        <li class="tabs-title"><a href="#element-tab-illustrations" data-ajax="false">{{ 'illustrations'|trans }}</a></li>
                    {% endif %}
                    {% if is_granted('user_element_add') %}
                        <li class="tabs-title"><a href="#element-tab-supports" data-ajax="false">{{ 'supports'|trans }}</a></li>
                    {% endif %}
                </ul>

                <div class="tabs-content" data-tabs-content="element-tabs">
                    <div class="tabs-panel is-active" id="element-tab-synthesis">
                        {{ include('element/element/_sections/show/synthesis.html.twig') }}
                    </div>
                    <div class="tabs-panel" id="element-tab-identity">
                        {{ include('element/element/_sections/show/identity.html.twig') }}
                    </div>
                    {% if display_family %}
                        <div class="tabs-panel" id="element-tab-family">
                            {{ include('element/element/_sections/show/family.html.twig') }}
                        </div>
                    {% endif %}
                    {% if display_recipe %}
                        <div class="tabs-panel" id="element-tab-recipe">
                            {{ include('element/element/_sections/show/recipe.html.twig') }}
                        </div>
                    {% endif %}
                    {% if display_description %}
                        <div class="tabs-panel" id="element-tab-description">
                            {{ include('element/element/_sections/show/description.html.twig') }}
                        </div>
                    {% endif %}
                    {% if display_caracteristics %}
                        <div class="tabs-panel" id="element-tab-caracteristics">
                            {{ include('element/element/_sections/show/caracteristics.html.twig') }}
                        </div>
                    {% endif %}
                    {% if display_cheating %}
                        <div class="tabs-panel" id="element-tab-cheating">
                            {{ include('element/element/_sections/show/cheating.html.twig') }}
                        </div>
                    {% endif %}
                    {% if element.illustrations|length > 0 %}
                        <div class="tabs-panel" id="element-tab-illustrations">
                            {{ include('element/element/_sections/show/illustrations.html.twig') }}
                        </div>
                    {% endif %}
                    {% if is_granted('user_element_add') %}
                        <div class="tabs-panel" id="element-tab-supports">
                            {{ include('user/user_element/_show.html.twig') }}

                            {% if is_granted('user_element_add') %}
                                <div class="form-actions">
                                    <a href="{{ path('user_userelement_edit', {element: element.id}) }}" class="button success" data-target="#element-tab-supports" data-ajax-new-page="false">
                                        <em class="mdi mdi-file-document-edit"></em>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
