{% include '@LyssalTwig/MessagesFlash/foundation_6_translated.html.twig' %}

{% if user_element is not null %}
    {% set has_general_informations = user_element.comment is not null or user_element.uses|length > 0 %}

    {% if has_general_informations %}
        {% if user_element.comment is not null %}
            <div class="property">
                {{ 'comment'|trans }}
                <p>
                    {{- user_element.comment|nl2br -}}
                </p>
            </div>
        {% endif %}

        {% if user_element.uses|length > 0 %}
            <div class="property">
                {{ ('last_use'~(user_element.uses|length > 1 ? 's' : ''))|trans }}
                <div class="grid-x grid-padding-x">
                    {% for use in user_element.uses %}
                        <div class="cell medium-6">
                            <p>
                                {{ use.date|date('d/m/Y') }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="element-supports">
        {% for element_support in user_element.supports %}
            {% if not loop.first or has_general_informations %}
                <hr>
            {% endif %}
            <div class="grid-x grid-padding-x">
                <div class="cell medium-6">
                    {% if element_support.storage is not null %}
                        <div class="property">
                            {{ 'storage'|trans }}
                            <p>
                                <a href="{{ path('user_elementstorage_show', { elementStorage: element_support.storage.id }) }}">
                                    {{ element_support.storage }}
                                </a>
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="cell medium-6">
                    {% if element_support.storageBackup is not null %}
                        <div class="property">
                            {{ 'storage_backup'|trans }}
                            <p>
                                <a href="{{ path('user_elementstorage_show', { elementStorage: element_support.storageBackup.id }) }}">
                                    {{ element_support.storageBackup }}
                                </a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if element_support.support is not null %}
                <div class="property">
                    {{ 'support'|trans }}
                    <p>
                        <a href="{{ path('element_element_listbytypeandsupport', { type: element.type.slug, support: element_support.support.slug }) }}">
                            {{ element_support.support|icon }}
                            {{ element_support.support }}
                        </a>
                    </p>
                </div>
            {% endif %}

            <div class="grid-x grid-padding-x">
                <div class="cell medium-6">
                    {% if element_support.version is not null %}
                        <div class="property">
                            {{ 'version'|trans }}
                            <p>
                                {{ element_support.version }}
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="cell medium-6">
                    {% if element_support.condition is not null %}
                        <div class="property">
                            {{ 'condition'|trans }}
                            <p>
                                {{ (constant('App\\Enum\\ConditionEnum::VALUES')[element_support.condition])|trans }}
                            </p>
                        </div>
                    {% endif %}
                </div>

                {% if element_support.comment is not null %}
                    <div class="cell medium-12">
                        <div class="property">
                            {{ 'comment'|trans }}
                            <p>
                                {{- element_support.comment|nl2br -}}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if element_support.isAudio %}
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-6">
                        {% if element_support.bitrate is not null %}
                            <div class="property">
                                {{ 'bitrate'|trans }}
                                <p>
                                    {% if element_support.bitrate <= 384 %}
                                        <em class="mdi mdi-signal-cellular-1 text-color alert"></em>
                                    {% elseif element_support.bitrate <= 512 %}
                                        <em class="mdi mdi-signal-cellular-2 text-color warning"></em>
                                    {% else %}
                                        <em class="mdi mdi-signal-cellular-3 text-color success"></em>
                                    {% endif %}
                                    {{ element_support.bitrate|format_number }} {{ 'bitrate.unit'|trans }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="cell medium-6">
                        {% if element_support.codec is not null %}
                            <div class="property">
                                {{ 'codec'|trans }}
                                <p>
                                    {{ constant('App\\Enum\\AudioCodecEnum::VALUES')[element_support.codec] }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% elseif element_support.isVideo %}
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-6">
                        {% if element_support.videoBitrate is not null %}
                            <div class="property">
                                {{ 'video.bitrate'|trans }}
                                <p>
                                    {% if element_support.videoBitrate <= 2560 %}
                                        <em class="mdi mdi-signal-cellular-1 text-color alert"></em>
                                    {% elseif element_support.videoBitrate < 8192 %}
                                        <em class="mdi mdi-signal-cellular-2 text-color warning"></em>
                                    {% else %}
                                        <em class="mdi mdi-signal-cellular-3 text-color success"></em>
                                    {% endif %}
                                    {{ element_support.videoBitrate|format_number }} {{ 'bitrate.unit'|trans }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="cell medium-6">
                        {% if element_support.videoCodec is not null %}
                            <div class="property">
                                {{ 'video.codec'|trans }}
                                <p>
                                    {{ constant('App\\Enum\\VideoCodecEnum::VALUES')[element_support.videoCodec] }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="cell medium-6">
                        {% if element_support.audioBitrate is not null %}
                            <div class="property">
                                {{ 'audio.bitrate'|trans }}
                                <p>
                                    {% if element_support.audioBitrate <= 384 %}
                                        <em class="mdi mdi-signal-cellular-1 text-color alert"></em>
                                    {% elseif element_support.audioBitrate <= 512 %}
                                        <em class="mdi mdi-signal-cellular-2 text-color warning"></em>
                                    {% else %}
                                        <em class="mdi mdi-signal-cellular-3 text-color success"></em>
                                    {% endif %}
                                    {{ element_support.audioBitrate|format_number }} {{ 'bitrate.unit'|trans }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="cell medium-6">
                        {% if element_support.audioCodec is not null %}
                            <div class="property">
                                {{ 'audio.codec'|trans }}
                                <p>
                                    {{ constant('App\\Enum\\AudioCodecEnum::VALUES')[element_support.audioCodec] }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="cell medium-6">
                        {% if element_support.resolutionWidth is not null and element_support.resolutionHeight is not null %}
                            <div class="property">
                                {{ 'resolution'|trans }}
                                <p>
                                    {{ element_support.resolutionWidth }}<em class="mdi mdi-multiplication"></em>{{ element_support.resolutionHeight }}
                                    {{ 'resolution.unit'|trans }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="cell medium-6">
                        {% if element_support.threeDimensional %}
                            <div class="property">
                                {{ 'three_dimensional'|trans }}
                                <p>
                                    {{ 'yes'|trans }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if element_support.languages|length > 0 %}
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12">
                        <div class="property">
                            {{ 'languages'|trans }}
                            <div class="grid-x grid-padding-x">
                                {% for element_support_language in element_support.languages %}
                                    <div class="cell medium-6 xlarge-3">
                                        <p>
                                            {{ element_support_language.language|icon }}
                                            {{- element_support_language.language }}
                                            {% if element_support_language.sources|length > 0 %}
                                                (
                                                {%- for source in element_support_language.sources -%}
                                                    {{ ('source.'~source)|trans~(loop.last ? '' : ', ') }}
                                                {%- endfor -%}
                                                )
                                            {%- endif -%}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% set display_web_source = element_support.webSource is not null %}
            {% if display_web_source %}
                <div class="property">
                    {{ 'web_source'|trans }}
                    <p><a href="{{ element_support.webSource }}" target="_blank">{{ element_support.webSourceHostname }}</a></p>
                </div>
            {% endif %}

        {% endfor %}
    </div>
{% endif %}
