{% extends 'base.html.twig' %}

{% block content %}
    {% spaceless %}
        {{ form_start(form) }}
            <div class="grid-x grid-padding-x">
                <div class="cell medium-6">
                    {{ form_row(form.note) }}
                </div>
                <div class="cell medium-6">
                    {{ form_row(form.wish) }}
                </div>
                <div class="cell small-12">
                    {{ form_row(form.comment) }}
                </div>
                <div class="cell small-12">
                    {{ form_row(form.uses) }}
                </div>
                <div class="cell small-12">
                    {{ form_row(form.supports) }}
                </div>
            </div>
            {{ form_rest(form) }}

            <div class="form-actions">
                <a href="{{ path('user_userelement_show', {element: user_element.element.id}) }}"
                    class="button secondary" data-target="#element-tab-supports" data-ajax-new-page="false">
                    <em class="mdi mdi-cancel"></em> {{ 'cancel'|trans }}
                </a>
                <button type="submit" class="button success" data-target="#element-tab-supports" data-ajax-new-page="false">
                    <em class="mdi mdi-content-save"></em> {{ 'save'|trans }}
                </button>
            </div>
        {{ form_end(form) }}
    {% endspaceless %}
{% endblock %}
