{% extends 'user/user_element/last_uses.html.twig' %}

{% block title %}
    {{ type|icon }}
    {{ appellation(type) }} :
    {{ 'last_uses'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb(type, '<a href="'~path('user_userelement_lastuses')~'">'~'last_uses'|trans~'</a>') }}
{% endblock %}
