{% extends 'base.html.twig' %}

{% block title %}
    {{ 'last_uses'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ lyssal_breadcrumb('last_uses'|trans) }}
{% endblock %}

{% block actions %}
    {% spaceless %}
        {% for appType in app.types %}
            <a href="{{ path('user_userelement_lastusesbytype', { type: appType.slug }) }}" class="button type-{{ appType.id }}-background">
                <img src="{{ asset(appType.icon.url) }}" alt="{{ appType }}" title="{{ appType }}" width="16" height="16">
            </a>
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block content %}
    {{ include('_sections/element/list.html.twig') }}
{% endblock %}
