{% extends 'base.html.twig' %}

{% block title %}
    {{ 'uses'|trans }} : {{ 'origins'|trans }}
    {% if type is defined %}
        <small>{{ appellation(type) }}</small>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if type is defined %}
        {{ lyssal_breadcrumb(type, '<a href="'~path('user_userelement_origins')~'">'~'uses'|trans~' : '~'origins'|trans~'</a>') }}
    {% else %}
        {{ lyssal_breadcrumb('uses'|trans~' : '~'origins'|trans, 'statistics'|trans) }}
    {% endif %}
{% endblock %}

{% block actions %}
    {% apply spaceless %}
        {% for appType in app.types %}
            <a href="{{ path('user_userelement_origins', { type: appType.slug }) }}" class="button type-{{ appType.id }}-background">
                <img src="{{ asset(appType.icon.url) }}" alt="{{ appType }}" title="{{ appType }}" width="16" height="16">
            </a>
        {% endfor %}
    {% endapply %}
{% endblock %}

{% block content %}
    <div data-preview="jvectormap-next" data-regions="{{ mappemonde_series|json_encode }}" data-color="{% if type is defined%}{{ type.darkColor }}{% else %}#333333{% endif%}" style="height: 650px;"></div>
{% endblock %}
