{{ include('user/user_element/_show.html.twig') }}

{% if is_granted('user_element_add') %}
    <div class="form-actions">
        <a href="{{ path('user_userelement_edit', {element: element.id}) }}" class="button success" data-target="#element-tab-supports" data-ajax-new-page="false">
            <em class="mdi mdi-file-document-edit"></em>
        </a>
    </div>
{% endif %}
