{% extends 'base.html.twig' %}

{% block title %}
    <em class="mdi mdi-tag-heart"></em> {{ 'wish.my_list'|trans }}
    {%- if type is defined %} : {{ type|icon }} {{ type }}{% endif -%}
{% endblock %}

{% block breadcrumbs %}
    {%- if type is defined -%}
        {{ lyssal_breadcrumb(type, '<a href="'~path('user_userelement_wishlist')~'">'~'wish.my_list'|trans~'</a>') }}
    {%- else -%}
        {{ lyssal_breadcrumb('wish.my_list'|trans) }}
    {%- endif -%}
{% endblock %}

{% block actions %}
    {% apply spaceless %}
        {% for appType in app.types %}
            <a href="{{ path('user_userelement_wishlist', { type: appType.slug }) }}" class="button type-{{ appType.id }}-background">
                <img src="{{ asset(appType.icon.url) }}" alt="{{ appType }}" title="{{ appType }}" width="16" height="16">
            </a>
        {% endfor %}
    {% endapply %}
{% endblock %}

{% block content %}
    <div class="element-list">
        <div class="grid-x">
            {% for element in elements %}
                <div class="cell medium-6 xlarge-4">
                    {{ include('_sections/element/list_item.html.twig') }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
