.form {
  &-actions {
    text-align: right;

    .button-move {
      cursor: move;
    }
  }
}

.element-form-subelements {
  &-level {
    &-1 {
      .input-group {
        margin-bottom: 0.5rem;

        &-field {
          font-size: 0.95rem;
          height: 2.1rem;
        }

        input[type="checkbox"] {
          margin: 0;
        }
      }
    }

    &-2 {
      .input-group {
        margin-bottom: 0;

        &-field {
          font-size: 0.9rem;
          height: 2rem;
        }
      }
    }
  }

  &-sublevel {
    &-1 {
      padding: 0 0 0 1rem;
    }
  }
}
