body {
  background-image: radial-gradient(circle at 17% 77%, rgba(17,17,17, 0.04) 0%, rgba(17,17,17, 0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,#555 50%, #555 100%),linear-gradient(19deg, rgb(44,44,44),#555);
}

ul.inline {
  li {
    display: inline;
    margin-right: 1rem;
  }
}
