header {
  .top-bar {
    border-color: $white;
    border-style: solid;
    border-width: 0 0 3px 0;
    z-index: 100000;

    &.sticky {
      &.is-stuck {
        z-index: 1000;
      }
    }
  }
}

#menu-search {
  float: left;
  padding: 2px 0;
}
