.menu {
  font-size: 2.2rem;
  line-height: 1rem;

  @include breakpoint(medium down) {
    font-size: 1.8rem;
  }

  .menu-text {
    background-image: url(../../../public/images/lyssal.png);
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: auto 80%;
    font-family: 'Densmore', $body-font-family;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1rem;
    padding-left: 2.8rem;
    text-transform: lowercase;

    a {
      padding: 0;

      span {
        color: darken($white, 20%);
      }
    }
  }

  li.border {
    border-style: solid;
    border-width: 0 6px 0 0;
  }

  .separator {
    background-color: $white;
    height: 1px;
  }

  .submenu {
    font-size: 1rem;
  }

  img {
    height: 1rem;
  }

  &.vertical {
    a {
      line-height: 1.2rem;

      &:not([href]) {
        cursor: default;
      }

      &:hover {
        background-color: $dropdown-menu-item-background-active;
        color: $text-color;
      }

      img, .mdi {
        margin-right: 0.25rem;
      }
    }

    .grid-x {
      font-size: 0.9rem;
      width: 30rem;
    }
  }

  &-platforms {
    text-align: center;

    img {
      height: 2rem;
      width: 2rem;
    }
  }

  @include breakpoint(medium down) {
    &.dropdown {
      > li {
        > a,
        #advanced-search-open {
          padding: $global-padding/4 $global-padding/2;
        }
      }
    }
  }
}
