.page {
  min-height: 90vh;

  &-header {
    margin: 0 $global-margin;
  }

  &-actions {
    float: right;

    form {
      display: inline;
    }
  }

  &-content {
    clear: right;

    // Remove double margin at bottom
    .tabs-panel, .callout:not(.success) {
      overflow: hidden;
      padding-bottom: 0;
    }
  }
}
