#search {
  &-form {
    height: 100%;
  }

  &-field {
    background-color: $color-medium;
    border-width: 0;
    box-shadow: none;
    color: $text-color;
    font-size: 1.2rem;
    height: 66%;
    margin: 10px 0 0 0;
    max-width: none;
    text-align: right;
    vertical-align: top;
    width: 17rem;

    @include breakpoint(medium down) {
      font-size: 1rem;
      margin-top: 5px;
      padding: 2px;
      width: 10rem;
    }
  }

  &-valid {
    color: $text-color;
    cursor: pointer;
    height: 100%;
    padding: 0 $global-padding 0 $global-padding/2;

    @include breakpoint(medium down) {
      padding-left: $global-padding/2;
      padding-right: $global-padding/4;
    }
  }
}

#advanced-search {
  background-color: $color-medium;
  border-color: $white;
  border-style: solid;
  border-width: 0 0 3px 0;
  padding: $global-padding;
  position: absolute;
  top: -200px;
  transition: all .5s ease;
  width: 396px;
  z-index: -1;

  @include breakpoint(medium down) {
    padding: 0;
    width: 100%;
  }

  &.open {
    top: 100%;
  }

  label {
    color: $text-color;
    cursor: pointer;
    text-align: center;
  }

  &-objects {
    list-style-type: none;
    margin: 0;

    li {
      float: left;
      width: 20%;

      label {
        font-size: 2rem;
        padding: 0.5rem 0;

        @include breakpoint(medium down) {
          line-height: 2rem;
          padding: 0;
        }

        &.chosen {
          background-color: $text-color;
          color: $color-dark;
        }
      }
    }
  }

  &-types {
    list-style-type: none;
    margin: 0;

    li {
      float: left;
      width: calc(100% / 7);

      label {
        background-color: $color-medium;
        padding: 10px;

        &.chosen {
          background-color: transparent;
        }

        img {
          height: 32px;
          width: 32px;
        }
      }
    }
  }
}

#advanced-search-open {
  display: inline;
}
