.spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 1.1px;
  background: conic-gradient(#0000 10%,#fff) content-box;
  mask-composite: intersect;
  animation: spinner-d55elj 1s infinite steps(10);
}

@keyframes spinner-d55elj {
  to {
    transform: rotate(1turn);
  }
}